<body>
    <!-- Page info -->
    <div class="page-top-info">
        <div class="container">
            <h4>Tất cả sản phẩm</h4>
           
        </div>
    </div>
    <!-- Page info end -->


    <!-- Category section -->
    <section class="category-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="filter-widget">
                        <h2 class="fw-title">Danh mục sản phẩm</h2>
                        <ul class="category-menu">
                            {{#each allCategories}}
                            <li><a href="/products/byCat1/{{maso}}">{{ten}}</a>
                                {{#if existsCate2}}
                                <ul class="sub-menu">
                                    {{#each cate2}}
                                        <li><a href="/products/byCat2/{{this.maso}}">{{this.ten}} <span>({{this.quantity}})</span></a></li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="filter-widget mb-0">
                        <h2 class="fw-title">Size</h2>
                        <div class="fw-size-choose">
                            <div class="sc-item">
                                <input type="radio" name="sc" id="xs-size">
                                <label for="xs-size">XS</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" name="sc" id="s-size">
                                <label for="s-size">S</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" name="sc" id="m-size" checked="">
                                <label for="m-size">M</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" name="sc" id="l-size">
                                <label for="l-size">L</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" name="sc" id="xl-size">
                                <label for="xl-size">XL</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" name="sc" id="xxl-size">
                                <label for="xxl-size">XXL</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                    <div class="row">
                        {{#if empty}}
                            <h3>Hiện tại không có sản phẩm nào</h3>
                        {{else}}
                        {{#each products}}
                            <div class="col-lg-4 col-sm-6" >
                                <div class="product-item" style="margin-top: 30;">
                                    <div class="pi-pic">
                                        <div style="display: flex;">
                                            {{#if isNewest}}
                                                <div class="tag-new">NEW</div>
                                            {{/if}}
                                            {{#if isBestSeller}}
                                                <div class="tag-sale" style="margin-top: 20px;">ON SALE</div>
                                            {{/if}}
                                        </div>
                                        <a href="/products/{{maso}}">
                                            <img src="{{avatar}}" alt="" style="height: 250px;">
                                        </a>
                                        <div class="pi-links">
                                            <a href="javascript: muaNgay('#NewfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
                                            <form method="POST" class ="frmAddToCart" id="NewfrmAddToCart{{maso}}" action="/add_to_cart">
                                                <input  type="hidden" name="id" value="{{maso}}">
                                                <input  type="hidden" name="sl" value="1">
                                                <a href="javascript: addToCart('#NewfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                                            </form>
                                            
                                        </div>
                                    </div>
                                    <a href="/products/{{maso}}">
                                        <div class="pi-text">
                                            <h6>{{giaban}}</h6>
                                            <p>{{ten}} </p>
                                        </div>
                                    </a>
                                    <div class="p-review">
                                        <p href=""><i class="flaticon-shopping-cart"></i> {{this.luotmua}}  lượt mua</p>
                                    </div>
                                    <div class="p-rating">
                                        {{#each this.star}}
                                            {{{this}}}
                                        {{/each}}
                                            ({{this.luotdanhgia}} đánh giá)
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        <div class="text-center w-100 pt-3">
                            {{#if onlyOne}}
                            {{else}}
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item {{#if firstPage}}disabled{{/if}}">
                                        <a href="?page={{prevPage}}" class="page-link" aria-label="Previous">
                                            <i class="fas fa-angle-left"></i>
                                        </a>
                                    </li>
                                    {{#each this.page_numbers}}
                                    {{#if isCurrentPage}}
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:;">{{value}}</a>
                                    </li>
                                    {{else}}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                                    </li>

                                    {{/if}}
                                    {{/each}}
                                    <li class="page-item {{#if lastPage}}disabled{{/if}}">
                                        <a href="?page={{nextPage}}" class="page-link" aria-label="Next">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
    <!-- Category section end -->
</body>

<script src="/resources/js/submitAjax.js"></script>