
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/resources/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/resources/css/flaticon.css"/>
	<link rel="stylesheet" href="/resources/css/slicknav.min.css"/>
	<link rel="stylesheet" href="/resources/css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="/resources/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="/resources/css/animate.css"/>
	<link rel="stylesheet" href="/resources/css/style.css"/>

    <link rel="stylesheet" href="/resources/css/shop_bill.css">
    <link rel="stylesheet" href="/resources/css/nav_bar_shop.css">
    <link rel="stylesheet" href="/resources/css/shop_manage.css">
    <link rel="stylesheet" href="/resources/css/shop_income.css">
    <link rel="stylesheet" href="/resources/css/star.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet"> 
    {{!-- <link rel="stylesheet" href="./css/footer_homesite.css"> --}}
    <script src="https://kit.fontawesome.com/2a96a4f787.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Thông tin chi tiết sản phẩm</h4>
		</div>
	</div>
	<!-- Page info end -->


	<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src="{{avatar.link}}" alt="">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
							 {{#each images}}
                                <div class="pt {{#if isActive}}active{{/if}}" data-imgbigurl="{{this.link}}"><img src="{{this.link}}" alt=""></div>
                            {{/each}}
                        </div>
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title">{{product.ten}}</h2>
					<h3 class="p-price">{{product.giaban}} VND</h3>
					<h4 class="p-stock">Số lượng: <span>{{product.soluong}}</span></h4>
					
					<div class="p-rating">
						{{#each star}}
							{{{this}}}
						{{/each}}
						 ({{product.diemdanhgia}}
						  sao)
					</div>
					
					<div class="p-review">
						<p>{{product.luotdanhgia}} lượt đánh giá<p>
					</div>
					<div class="p-review">
						<p ><i class="flaticon-shopping-cart"></i> {{luotmua}} lượt mua</p>
					</div>
					<div class="p-review">
						<p> Giới tính sử dụng {{product.giotinhsudung}}</p>
					</div>
					<div class="p-review">
						<p> Xuất xứ {{product.noisx}}</p></p>
					</div>
					<div class="fw-size-choose">
						<p>Size</p>
						<div class="sc-item">
							<label for="l-size">{{product.kichthuoc}}</label>
						</div>
					</div>
					<div  class="quantity">
						<p>Số lượng</p>
						<form style="padding-left: 10px;" method="POST" class ="frmAddToCart" id="frmAddToCart{{product.maso}}" action="/users/add-to-cart">
							<input  type = "hidden" name="id" value="{{product.maso}}">
                        	<div id="quan" class="pro-qty"><input type="text" name="sl" value="1"></div>
						</form>
                    </div>
					<div style="display: flex;">
						<a  href="javascript: muaNgay(`#frmAddToCart{{product.maso}}`);" class="site-btn"><span>Mua ngay</span></a>
						
							<a   href="javascript: addToCart(`#frmAddToCart{{product.maso}}`);"class="site-btn sb-line sb-dark"><span style="font-size: smaller;">Thêm vào giỏ</span></a>
						
					</div>
					
					
				</div>
				
			
				<div style="display: flex;">

				</div>
				<div class="col-lg-12" style="margin-top: 50px;">
					<div class="card"style="cursor" >
						<div class="card-body" >
							<div class="container-name-user large" style="display: block; padding-bottom: 0px;!important;" >
								<div style="display: flex;">
									<img src="{{shop.avatar}}" alt="avatar" class="img_shop_default" style="border-radius: 50%; ">
									<a href="/shops/shops-information/{{shop.maso}}" class="name-user-auth" style="font-weight: bold;">{{shop.ten}} </a>
								</div>
								<div style="margin-left: 60px;">
									<p>Địa chỉ: {{shop.diachi}}</p>
									<p>Số điện thoại: {{shop.sdt}}</p>
									<p>Email: {{shop.email}}</p>
								</div>
							
							</div>
						</div>
					</div>		
				</div>
			
				<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Mô tả</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									{{product.mota}}
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Đánh giá </button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								{{#each comment}}
									<div class="container-name-user" style="padding-bottom: 0px;!important">
										<p><img src="{{avatar}}" alt="avatar" class="image-auth"></p>
										<p class="name-user-auth">{{hoten}}</p>
									</div>
									<div class="panel-body" style="margin-left: 30px; ">
										<div class="p-rating">
											{{sosao}}
											<i class="fa fa-star-o"></i>
										</div>
										<p>{{noidung}}</p>
										
									</div>
									
								{{/each}}
								
							</div>
						</div>
						
					</div>
			</div>
		</div>
		
	</section>
	<!-- product section end -->


	<!-- RELATED PRODUCTS section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Những sản phẩm cùng loại</h2>
			</div>
			<div class="product-slider owl-carousel">
				{{#each relativeProduct}}
					<div class="product-item">
						<div class="pi-pic">
							<a href="/products/{{maso}}">
								<img src="{{this.avatar}}" alt="">
							</a>
						</div>
						<a href="/products/{{maso}}">
							<div class="pi-text">
								<h6>{{giaban}}</h6>
								<p>{{ten}} </p>
							</div>
						</a>
						<div class="p-review">
							<p href=""><i class="flaticon-shopping-cart"></i> {{this.luotmua}}  lượt mua</p>
						</div>
						<div class="p-rating">
							{{#each this.star}}
								{{{this}}}
							{{/each}}
								({{this.luotdanhgia}} đánh giá)
						</div>
						
						
					</div>
				{{/each}}
			</div>
		</div>
	</section>
	
<script src="/resources/js/submitAjax.js"></script>