

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			{{#each hotProduct}}
				<div class="hs-item set-bg" data-setbg="/resources/img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>{{danhmuc}}</span>
							<h2 style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 15px 0px 15px 0px">{{ten}}</h2>
							<p>
								<div class="p-review">
									<p>{{luotmua}} lượt mua</p>
								</div>
								
								<div class="p-rating">
									{{#each star}}
										{{{this}}}
									{{/each}}
									({{diemdanhgia}}
									sao)
								</div>
								<div class="p-review">
									<p>{{luotdanhgia}} lượt đánh giá</p>
								</div>
								
								Chỉ từ 
								<h2>{{giaban}} </h2>
							</p>
							<a href="/products/{{maso}}" class="site-btn sb-line">Xem chi tiết</a>
							
							<a href="javascript: addToCart('#frmAddToCart{{maso}}');" class="site-btn sb-white">Thêm vào giỏ</a>
							<form style="padding-left: 10px;" method="POST" class ="frmAddToCart" id="frmAddToCart{{maso}}" action="/users/add-to-cart">
								<input  type = "hidden" name="id" value="{{maso}}">
								<input type="hidden" name="sl" value="1">
							</form>
						</div>
					</div>
					<div class="offer-card text-white">
						<div class="pi-pic">
							<a href="/products/{{maso}}">
								<img src="{{avatar}}" alt="" style="height: 370px; width: 100%">
							</a>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="/resources/img/icons/1.png" alt="#">
						</div>
						<h2>Dễ dàng lựa chọn</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="/resources/img/icons/2.png" alt="#">
						</div>
						<h2>Sản phẩm chất lượng</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="/resources/img/icons/3.png" alt="#">
						</div>
						<h2>Giao hàng nhanh</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Mới nhất</h2>
			</div>
			<div class="product-slider owl-carousel">
				{{#each top10New}}
					<div class="product-item">
						<div class="pi-pic">
							<div style="display: flex;">
								{{#if isNewest}}
									<div class="tag-new">NEW</div>
								{{/if}}
								{{#if isBestSeller}}
									<div class="tag-sale" style="margin-top: 20px;">ON SALE</div>
								{{/if}}
							</div>
							<a href="/products/{{maso}}">
								<img src="{{avatar}}" alt="" style="height: 350px; width: 100%">
							</a>
							<div class="pi-links">
								<a href="javascript: muaNgay('#NewfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
								<form method="POST" class ="frmAddToCart" id="NewfrmAddToCart{{maso}}" action="/add_to_cart">
									<input  type="hidden" name="id" value="{{maso}}">
									<input  type="hidden" name="sl" value="1">
									<a href="javascript: addToCart('#NewfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
								</form>
								
							</div>
						</div>
						<a href="/products/{{maso}}">
							<div class="pi-text">
								<h6>{{giaban}}</h6>
								<p>{{ten}} </p>
							</div>
						</a>
						<div class="p-review">
							<p href=""><i class="flaticon-shopping-cart"></i> {{this.luotmua}}  lượt mua</p>
						</div>
						<div class="p-rating">
							{{#each this.star}}
								{{{this}}}
							{{/each}}
								({{this.luotdanhgia}} đánh giá)
						</div>
					</div>
				{{/each}}
				
			</div>
		</div>
	</section>
	<!-- letest product section end -->


	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Được bán nhiều nhất</h2>
			</div>
			<ul class="product-filter-menu">
				{{#each top8Categories}}
					<li><a href="products/byCat2/{{maso}}">{{ten}}</a></li>
				{{/each}}
				
			</ul>
			<div class="product-slider owl-carousel">
				{{#each top8Seller}}
					<div class="product-item">
						<div class="pi-pic">
							<div style="display: flex;">
								{{#if isNewest}}
									<div class="tag-new">NEW</div>
								{{/if}}
								{{#if isBestSeller}}
									<div class="tag-sale" style="margin-top: 20px;">ON SALE</div>
								{{/if}}
							</div>
						
							<a href="/products/{{maso}}">
								<img src="{{avatar}}" alt="" style="height: 350px; width: 100%">
							</a>
							<div class="pi-links">
								<a href="javascript: muaNgay('#SellfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
								<form method="POST" class ="frmAddToCart" id="SellfrmAddToCart{{maso}}" action="/add_to_cart">
									<input  type="hidden" name="id" value="{{maso}}">
									<input  type="hidden" name="sl" value="1">
									<a href="javascript: addToCart('#SellfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
								</form>
								
							</div>
						</div>
						<a href="/products/{{maso}}">
							<div class="pi-text">
								<h6>{{giaban}}</h6>
								<p>{{ten}} </p>
							</div>
						</a>
						<div class="p-review">
							<p href=""><i class="flaticon-shopping-cart"></i> {{this.luotmua}}  lượt mua</p>
						</div>
						<div class="p-rating">
							{{#each this.star}}
								{{{this}}}
							{{/each}}
								({{this.luotdanhgia}} đánh giá)
						</div>
					</div>
				{{/each}}
				
			</div>
		</div>
	</section>

	<!-- Product filter section end -->



<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script src="/resources/js/submitAjax.js"></script>