{{#with this.listBillDetail}}
<div class="container_income">
    <div class="update-bill-dialog">
        <div class="dialog">
            <div class="question-dialog">
                Bạn có muốn hủy đơn hàng này ?
            </div>
            <div class="container-dialog-btn">
                <div class="ctn_update_cbx">
                    <div class="btn_back_input clickable-dialog-back">
                        <i class="fas fa-arrow-left" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Quay lại</span>
                    </div>
                </div>
                <div class="ctn_update_cbx">
                    <div class="btn_update_input clickable-dialog-remove">
                        <i class="far fa-check-circle" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="update-bill-dialog-change">
        <div class="dialog">
            <div class="question-dialog">
                <div>Cập nhật đơn hàng trạng thái</div>
                <div class="status-bill-dialog">"{{statusChangeName}}"</div>
            </div>
            <div class="container-dialog-btn">
                <div class="ctn_update_cbx">
                    <div class="btn_back_input clickable-dialog-backUp">
                        <i class="fas fa-arrow-left" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Quay lại</span>
                    </div>
                </div>
                <div class="ctn_update_cbx">
                    <div class="btn_update_input clickable-dialog-update">
                        <i class="far fa-check-circle" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container_income_navbar">
        <div class="btn_show">
            <span class="fas fa-bars"></span>
        </div>
        <script>
            $('.btn_show').click(function(){
                $('.container_income').toggleClass("show");
                $('.sidebar').toggleClass("show");
            });
        </script>

        <div class="title_bar">
            Danh sách đơn hàng - Division giao hàng
        </div>

        <div class="account_bar">
            <div class="account_bar_inner">
                <div class="img_shop_account">
                    <img src="{{authUser.avatar}}" alt="" class="img_account_inner">
                </div>
                <div class="name_account">
                    Divisia Shop
                </div>
                <div class="down_arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="func_account_bar" id="func_auth_bar">
                <div class="func_acc" id="info_shop">
                    <a href="/shops/products" class="option-select-auth noHover" >Thông tin Shop</a>
                </div>
                <div><hr class="inline"></div>
                <div class="func_acc" id="log_out_shop">
                    <form method="POST" id="frmLogout" action="/logout"></form>
                        <script>
                            function logout(){
                                $.post('/logout',function(data,status){
                                    window.location.replace(data.location);
                                })
                            }
                        </script>
                    <a href="javascript: logout();" class="option-select-auth noHover" >Đăng xuất</a>
                </div>
            </div>
            <script>
                document.addEventListener("click", (evt) => {
                    const deactive_authe_menu = document.getElementById("func_auth_bar");
                    if (event.target.closest(".account_bar_inner")) {
                        deactive_authe_menu.style.display="block";
                        return;
                        }
                    deactive_authe_menu.style.display="none";
                    });
            </script>
        </div>
    </div>

    <div class="container_bill">
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="link_path">
                <span class="root_link">Trang trủ</span>
                <span class="fas fa-greater-than" style="color: rgb(180, 180, 180); font-size: 13px;"></span>
                <span class="root_link">Danh sách đơn hàng - Division</span>
                <span class="fas fa-greater-than" style="color: rgb(180, 180, 180); font-size: 13px;"></span>
                <span class="root_link" style="font-weight: 500;">Chi tiết đơn hàng</span>
            </div>

            <div class="customer-information">
                1. Thông tin khách hàng
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Mã khách hàng
                    </div>
                    <input type="text" placeholder="{{taikhoan}}" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Tên khách hàng
                    </div>
                    <input type="text" placeholder="{{hoten}}" class="input_detail" readonly="readonly">
                </div>
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Email
                    </div>
                    <input type="text" placeholder="{{email}}" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Số điện thoại
                    </div>
                    <input type="text" placeholder="{{sdt}}" style="width: 100%;" readonly="readonly">
                </div>
            </div>

            <form action="/shops/update-bills-detail/{{maso}}" method="POST">
            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Số điện thoại người nhận
                    </div>
                    <input type="text" placeholder="{{sdtnguoinhan}}" class="input_detail" readonly="readonly" >
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Địa chỉ người nhận
                    </div>
                    <input type="text" placeholder="{{diachinguoinhan}}" style="width: 100%;" readonly="readonly">
                </div>
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Tình trạng đơn hàng
                    </div>
                    <div class="combo_box_status" style="width: 100%;">
                        <div class="combo_box_select">
                            <span class="selected" style="color: rgb(129, 129, 129); padding-left: 10px;">{{ten}}</span>
                            <input type="hidden" name="status_bill" value="{{ten}}" >
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container_bill">
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="customer-information">
                2. Thông tin đơn hàng
            </div>

            <div class="table_bill_container" style="padding-bottom: 0px;">
                           
                                <table class="table_bill">
                                    <thead>
                                        <tr id="header">
                                            <th>Sản phẩm</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Size</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.listSanPham}}
                                        <tr>
                                            <td class="product_cart_bill">
                                                <img src="{{link}}" alt="">
                                                <div class="ctn-product-properties">
                                                    <div class="name-prod">
                                                        {{ten}}
                                                    </div>
                                                    <div class="single-price">
                                                        {{giaban}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{maso}}</td>
                                            <td>{{kichthuoc}}</td>
                                            <td>{{soluongmua}}</td>
                                            <td>{{dongia}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
            </div>

            <div class="total_all_price">
                <div class="ctn_total_price">
                    <div class="text-total">
                        Tổng cộng:
                    </div>
                    <div class="total-price-num">
                        {{tonggiatien}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-update-detail">
        {{#if this.isNotAvailableUpdate}}
        <div class="ctn_update_cbx">
            <div class="btn_back_input clickable-row" data-href='/shops/bills'>
                <i class="fas fa-arrow-left" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Quay lại</span>
             </div>
        </div>
        {{else}}
        <div class="ctn_update_cbx" id="btn-remove">
            <div class="btn_back_input">
                <i class="fas fa-ban" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Hủy đơn</span>
             </div>
        </div>

        <div class="ctn_update_cbx">
            <div class="btn_update_input" id="btn-update">
                <i class="fas fa-wrench" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Cập nhật</span>
             </div>
        </div>
        {{/if}}
    </div>


    <script>
        jQuery(document).ready(function($) {
            $(".clickable-dialog-update").click(function() {
                $('.combo_box_select input').val("{{{idUpdate}}}");
                document.forms[0].submit();
                $('.update-bill-dialog-change').fadeOut();
            });
            $(".clickable-dialog-remove").click(function() {
                $('.combo_box_select input').val("4");
                document.forms[0].submit();
                $('.update-bill-dialog').fadeOut();
            });
            $(".clickable-dialog-back").click(function() {
                $('.update-bill-dialog').fadeOut();
            });
            $(".clickable-dialog-backUp").click(function() {
                $('.update-bill-dialog-change').fadeOut();
            });
        });
        jQuery(document).ready(function($) {
            $(".update-bill-dialog").click(function() {
                $('.update-bill-dialog').fadeOut();
            });
            $(".update-bill-dialog-change").click(function() {
                $('.update-bill-dialog-change').fadeOut();
            });
        });
    </script>
    <script>
        $('#btn-remove').click(function() {
            $('.update-bill-dialog').fadeIn();
        });
        $('#btn-update').click(function() {
            $('.update-bill-dialog-change').fadeIn();
        });    
    </script>
    </form>

    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
</div>
{{/with}}