<div class="container_income">
    <div class="container_income_navbar">
        <div class="btn_show">
            <span class="fas fa-bars"></span>
        </div>
        <script>
            $('.btn_show').click(function(){
                $('.container_income').toggleClass("show");
                $('.sidebar').toggleClass("show");
            });
        </script>

        <div class="title_bar">
            Danh sách đơn hàng
        </div>

        <div class="account_bar">
            <div class="account_bar_inner">
                <div class="img_shop_account">
                    <img src="{{authUser.avatar}}" alt="" class="img_account_inner">
                </div>
                <div class="name_account">
                    Divisia Shop
                </div>
                <div class="down_arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="func_account_bar" id="func_auth_bar">
                <div class="func_acc" id="info_shop">
                    <a href="/shops/products" class="option-select-auth noHover" >Thông tin Shop</a>
                </div>
                <div><hr class="inline"></div>
                <div class="func_acc" id="log_out_shop">
                    <form method="POST" id="frmLogout" action="/logout"></form>
                        <script>
                            function logout(){
                                $.post('/logout',function(data,status){
                                    window.location.replace(data.location);
                                })
                            }
                        </script>
                    <a href="javascript: logout();" class="option-select-auth noHover" >Đăng xuất</a>
                </div>
            </div>
            <script>
                document.addEventListener("click", (evt) => {
                    const deactive_authe_menu = document.getElementById("func_auth_bar");
                    if (event.target.closest(".account_bar_inner")) {
                        deactive_authe_menu.style.display="block";
                        return;
                        }
                    deactive_authe_menu.style.display="none";
                    });
            </script>
        </div>
    </div>

    <div class="container_bill">
        <div class="container_bill_items">
            <div class="link_path">
                <span class="root_link">Trang trủ</span>
                <span class="fas fa-greater-than" style="color: rgb(180, 180, 180); font-size: 13px;"></span>
                <span class="root_link" style="font-weight: 500;">Danh sách đơn hàng - Division</span>
            </div>
            <div class="input_search">
                <input id = "myInput" type="text" placeholder="Tìm kiếm đơn hàng" class="input_search_menu" height="10">


                <script>
                    $(document).on('click', function(e) {
                        if($(e.target).closest('.combo_box_select').not(this).length){
                            $('.drop-down-cbx').removeClass("disable");
                            $('.drop-down-cbx').toggleClass("show");

                            $('.drop-menu-down').toggleClass("rotate");
                        }else{      
                            $('.drop-down-cbx').removeClass("show");
                            $('.drop-down-cbx').toggleClass("disable");
                        }
                    });

                    $('.first-item').click(function(){
                        $('.selected').text("Toàn thời gian");
                        $('.drop-menu-down').toggleClass("rotate");
                    });
                    $('.second-item').click(function(){
                        $('.selected').text("30 ngày qua");
                        $('.drop-menu-down').toggleClass("rotate");
                    });
                    $('.third-item').click(function(){
                        $('.selected').text("7 ngày qua");
                        $('.drop-menu-down').toggleClass("rotate");
                    });
                    $('.four-item').click(function(){
                        $('.selected').text("Hôm nay");
                        $('.drop-menu-down').toggleClass("rotate");
                    });
                    $('.item-select-cbx').click(function(){
                        $(this).addClass("active").siblings().removeClass("active");
                    });
                </script>
               
            </div>
        </div>
    </div>

    <div class="container_bill">
        <div class="container_bill_items">
                <div class="container_tabs_table">
                    <div class="tab_triger">
                        <ul>
                            <li>
                                <label data-tab-target="#tab1" class="active_tab_title">Tất cả</label>
                            </li>
                            <li>
                                <label data-tab-target="#tab2">Chờ xác nhận</label>
                            </li>
                            <li>
                                <label data-tab-target="#tab3">Đang vận chuyển</label>
                            </li>
                            <li>
                                <label data-tab-target="#tab4">Đã giao hàng</label>
                            </li>
                            <li>
                                <label data-tab-target="#tab5">Bị hủy</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab_container_wrap">
                        <div class="tab_container_box active_tab" id="tab1" data-tab-content>
                            <div class="table_bill_container">
                           
                                <table  class="table_bill">
                                    <thead>
                                        <tr id="header" >
                                            <th>Mã đơn hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Số điện thoại</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá bán</th>
                                            <th>Thời gian</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.getInfoBillByOffset}}
                                        <tr class="item_bill_all clickable-row" data-href='bills-detail/{{maso}}'>
                                            <td>{{maso}}</td>
                                            <td>{{tenNguoiNhan}}</td>
                                            <td>{{sdtnguoinhan}}</td>
                                            <td>{{listNameProduct}}</td>
                                            <td>{{tonggiatien}}</td>
                                            <td>{{ngayCapNhat}}</td>
                                            <td>{{ten}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div class="btn_container_pagination">
                                <div class="total_pagination">
                                    Tổng cộng {{totalRowAll}} bản ghi
                                </div>
                                <div class="prev_bill">
                                    <a>
                                        <i class="fas fa-caret-left"></i>
                                    </a>
                                </div>
                                <div class="after_bill">
                                    <a>
                                        <i class="fas fa-caret-right"></i>
                                    </a>
                                </div>
                                <script>
                                    var count={{{nextPage}}};
                                    var prev={{{prevPage}}};
                                    var total={{{totalPage}}};
                                    if (prev==0)
                                    {
                                        prev=1;
                                    }
                                    var flag=false;
                                    var flag1=false;
                                    if (count-1>=total)
                                    {
                                        $('.after_bill').toggleClass('disabled');
                                        $('.prev_bill').toggleClass('disabled');
                                    }
                                    else{
                                    $('.after_bill').click(function(){
                                        console.log(prev);
                                        console.log(count);
                                        console.log(total);
                                        if (count==total)
                                        {
                                            flag=true;
                                        }
                                        else{
                                            flag1=false;
                                        }
                                        $(".item_bill_all").remove();
                                        $.getJSON({
                                            url:`/shops/bills.json?page=${count}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill').append(
                                                        `
                                                        <tr class="item_bill_all">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flag==false)
                                        {
                                            prev++;
                                            count++;
                                        }
                                    })

                                    $('.prev_bill').click(function(){
                                        if (prev<2)
                                        {
                                            flag1=true;
                                        }
                                        else{
                                            flag=false;
                                        }
                                        console.log(prev);
                                        console.log(count);
                                        $(".item_bill_all").remove();
                                        $.getJSON({
                                            url:`/shops/bills.json?page=${prev}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill').append(
                                                        `
                                                        <tr class="item_bill_all">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flag1==false)
                                        {
                                            prev--;
                                            count--;
                                        }
                                    })
                                    }
                                    //$.getJSON()
                                </script>
                            </div>
                        </div>

                        <div class="tab_container_box" id="tab2" data-tab-content>
                            <div class="table_bill_container">
                                <table class="table_bill_confirm">
                                    <thead>
                                        <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Số điện thoại</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá bán</th>
                                            <th>Thời gian</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.getConfirmBillByOffset}}
                                        <tr class="item_bill_confirm clickable-row" data-href='bills-detail/{{maso}}'>
                                            <td>{{maso}}</td>
                                            <td>{{tenNguoiNhan}}</td>
                                            <td>{{sdtnguoinhan}}</td>
                                            <td>{{listNameProduct}}</td>
                                            <td>{{tonggiatien}}</td>
                                            <td>{{ngayCapNhat}}</td>
                                            <td>{{ten}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="btn_container_pagination">
                                <div class="total_pagination">
                                    Tổng cộng {{totalRowC}} bản ghi
                                </div>
                                <div class="prev_bill_confirm">
                                    <a>
                                        <i class="fas fa-caret-left"></i>
                                    </a>
                                </div>
                                <div class="after_bill_confirm">
                                    <a>
                                        <i class="fas fa-caret-right"></i>
                                    </a>
                                </div>
                                <script>
                                    var countC={{{nextPageC}}};
                                    var prevC={{{prevPageC}}};
                                    if (prevC==0)
                                    {
                                        prevC=1;
                                    }
                                    var totalC={{{totalPageC}}};
                                    if (countC-1>=totalC)
                                    {
                                        $('.after_bill_confirm').toggleClass('disabled');
                                        $('.prev_bill_confirm').toggleClass('disabled');
                                    }
                                    else{
                                    var flagC=false;
                                    var flag1C=false;
                                    $('.after_bill_confirm').click(function(){
                                        if (countC==totalC)
                                        {
                                            flagC=true;
                                        }
                                        else{
                                            flag1C=false;
                                        }
                                        $(".item_bill_confirm").remove();
                                        $.getJSON({
                                            url:`/shops/bills_confirm.json?page=${countC}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_confirm').append(
                                                        `
                                                        <tr class="item_bill_confirm">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flagC==false)
                                        {
                                            prevC++;
                                            countC++;
                                        }
                                    })

                                    $('.prev_bill_confirm').click(function(){
                                        if (prevC<2)
                                        {
                                            flag1C=true;
                                        }
                                        else{
                                            flagC=false;
                                        }
                                        $(".item_bill_confirm").remove();
                                        $.getJSON({
                                            url:`/shops/bills_confirm.json?page=${prevC}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_confirm').append(
                                                        `
                                                        <tr class="item_bill_confirm">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flag1C==false)
                                        {
                                            prevC--;
                                            countC--;
                                        }
                                    })
                                    }
                                </script>
                            </div>
                        </div>

                        <div class="tab_container_box" id="tab3" data-tab-content>
                            <div class="table_bill_container">
                                <table class="table_bill_travelling">
                                    <thead>
                                        <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Số điện thoại</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá bán</th>
                                            <th>Thời gian</th>
                                            <th>Tình trạng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.getTravellingBillByOffset}}
                                        <tr class="item_bill_travelling clickable-row" data-href='bills-detail/{{maso}}'>
                                            <td>{{maso}}</td>
                                            <td>{{tenNguoiNhan}}</td>
                                            <td>{{sdtnguoinhan}}</td>
                                            <td>{{listNameProduct}}</td>
                                            <td>{{tonggiatien}}</td>
                                            <td>{{ngayCapNhat}}</td>
                                            <td>{{ten}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>   
                                </table>
                            </div>
                            <div class="btn_container_pagination">
                                <div class="total_pagination">
                                    Tổng cộng {{totalRowT}} bản ghi
                                </div>
                                <div class="prev_bill_travelling">
                                    <a>
                                        <i class="fas fa-caret-left"></i>
                                    </a>
                                </div>
                                <div class="after_bill_travelling">
                                    <a>
                                        <i class="fas fa-caret-right"></i>
                                    </a>
                                </div>
                                <script>
                                    var countT={{{nextPageT}}};
                                    var prevT={{{prevPageT}}};
                                    if (prevT==0)
                                    {
                                        prevT=1;
                                    }
                                    var totalT={{{totalPageT}}};
                                    if (countT-1>=totalT)
                                    {
                                        $('.after_bill_travelling').toggleClass('disabled');
                                        $('.prev_bill_travelling').toggleClass('disabled');
                                    }
                                    else{
                                    var flagT=false;
                                    var flag1T=false;
                                    $('.after_bill_travelling').click(function(){
                                        if (countT==totalT)
                                        {
                                            flagT=true;
                                        }
                                        else{
                                            flag1T=false;
                                        }
                                        $(".item_bill_travelling").remove();
                                        $.getJSON({
                                            url:`/shops/bills_travelling.json?page=${countT}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_travelling').append(
                                                        `
                                                        <tr class="item_bill_travelling">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flagT==false)
                                        {
                                            prevT++;
                                            countT++;
                                        }
                                    })

                                    $('.prev_bill_travelling').click(function(){
                                        if (prevT<2)
                                        {
                                            flag1T=true;
                                        }
                                        else{
                                            flagT=false;
                                        }
                                        $(".item_bill_travelling").remove();
                                        $.getJSON({
                                            url:`/shops/bills_travelling.json?page=${prevT}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_travelling').append(
                                                        `
                                                        <tr class="item_bill_travelling">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flag1T==false)
                                        {
                                            prevT--;
                                            countT--;
                                        }
                                    })
                                    }
                                </script>
                            </div>
                        </div>

                        <div class="tab_container_box" id="tab4" data-tab-content>
                            <div class="table_bill_container">
                                <table class="table_bill_travelled">
                                    <thead>
                                        <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Số điện thoại</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá bán</th>
                                            <th>Thời gian</th>
                                            <th>Tình trạng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.getTravelledBillByOffset}}
                                        <tr class="item_bill_travelled clickable-row" data-href='bills-detail/{{maso}}'>
                                            <td>{{maso}}</td>
                                            <td>{{tenNguoiNhan}}</td>
                                            <td>{{sdtnguoinhan}}</td>
                                            <td>{{listNameProduct}}</td>
                                            <td>{{tonggiatien}}</td>
                                            <td>{{ngayCapNhat}}</td>
                                            <td>{{ten}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                          
                                </table>
                            </div>

                            <div class="btn_container_pagination">
                                <div class="total_pagination">
                                    Tổng cộng {{totalRowTe}} bản ghi
                                </div>
                                <div class="prev_bill_travelled">
                                    <a>
                                        <i class="fas fa-caret-left"></i>
                                    </a>
                                </div>
                                <div class="after_bill_travelled">
                                    <a>
                                        <i class="fas fa-caret-right"></i>
                                    </a>
                                </div>
                                <script>
                                    var countTe={{{nextPageTe}}};
                                    var prevTe={{{prevPageTe}}};
                                    if (prevTe==0)
                                    {
                                        prevTe=1;
                                    }
                                    var totalTe={{{totalPageTe}}};
                                    if (countTe-1>=totalTe)
                                    {
                                        $('.after_bill_travelled').toggleClass('disabled');
                                        $('.prev_bill_travelled').toggleClass('disabled');
                                    }
                                    else{
                                    var flagTe=false;
                                    var flag1Te=false;
                                    $('.after_bill_travelled').click(function(){
                                        if (countTe==totalTe)
                                        {
                                            flagTe=true;
                                        }
                                        else{
                                            flag1Te=false;
                                        }
                                        $(".item_bill_travelled").remove();
                                        $.getJSON({
                                            url:`/shops/bills_travelled.json?page=${countTe}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_travelled').append(
                                                        `
                                                        <tr class="item_bill_travelled">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flagTe==false)
                                        {
                                            prevTe++;
                                            countTe++;
                                        }
                                    })

                                    $('.prev_bill_travelled').click(function(){
                                        if (prevTe<2)
                                        {
                                            flag1Te=true;
                                        }
                                        else{
                                            flagTe=false;
                                        }
                                        $(".item_bill_travelled").remove();
                                        $.getJSON({
                                            url:`/shops/bills_travelled.json?page=${prevTe}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_travelled').append(
                                                        `
                                                        <tr class="item_bill_travelled">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flag1Te==false)
                                        {
                                            prevTe--;
                                            countTe--;
                                        }
                                    })
                                    }
                                </script>
                            </div>



                        </div>
                        <div class="tab_container_box" id="tab5" data-tab-content>
                            <div class="table_bill_container">
                                <table class="table_bill_discard">
                                    <thead>
                                        <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Số điện thoại</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá bán</th>
                                            <th>Thời gian</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.getDiscardBillByOffset}}
                                        <tr class="item_bill_discard clickable-row" data-href='bills-detail/{{maso}}'>
                                            <td>{{maso}}</td>
                                            <td>{{tenNguoiNhan}}</td>
                                            <td>{{sdtnguoinhan}}</td>
                                            <td>{{listNameProduct}}</td>
                                            <td>{{tonggiatien}}</td>
                                            <td>{{ngayCapNhat}}</td>
                                            <td>{{ten}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    
                                </table>
                            </div>

                            <div class="btn_container_pagination">
                                <div class="total_pagination">
                                    Tổng cộng {{totalRowD}} bản ghi
                                </div>
                                <div class="prev_bill_discard">
                                    <a>
                                        <i class="fas fa-caret-left"></i>
                                    </a>
                                </div>
                                <div class="after_bill_discard">
                                    <a>
                                        <i class="fas fa-caret-right"></i>
                                    </a>
                                </div>
                                <script>
                                    var countD={{{nextPageD}}};
                                    var prevD={{{prevPageD}}};
                                    if (prevD==0)
                                    {
                                        prevD=1;
                                    }
                                    var totalD={{{totalPageD}}};
                                    if (countD-1>=totalD)
                                    {
                                        $('.after_bill_discard').toggleClass('disabled');
                                        $('.prev_bill_discard').toggleClass('disabled');
                                    }
                                    else{
                                    var flagD=false;
                                    var flag1D=false;
                                    $('.after_bill_discard').click(function(){
                                        if (countD==totalD)
                                        {
                                            flagD=true;
                                        }
                                        else{
                                            flag1D=false;
                                        }
                                        $(".item_bill_discard").remove();
                                        $.getJSON({
                                            url:`/shops/bills_discard.json?page=${countD}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_discard').append(
                                                        `
                                                        <tr class="item_bill_discard">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flagD==false)
                                        {
                                            prevD++;
                                            countD++;
                                        }
                                    })

                                    $('.prev_bill_discard').click(function(){
                                        if (prevD<2)
                                        {
                                            flag1D=true;
                                        }
                                        else{
                                            flagD=false;
                                        }
                                        $(".item_bill_discard").remove();
                                        $.getJSON({
                                            url:`/shops/bills_discard.json?page=${prevD}`,
                                            success: function(data){
                                                for (item of data)
                                                {
                                                    $('.table_bill_discard').append(
                                                        `
                                                        <tr class="item_bill_discard">
                                                            <td>${item.maso}</td>
                                                            <td>${item.tenNguoiNhan}</td>
                                                            <td>${item.sdtnguoinhan}</td>
                                                            <td>${item.listNameProduct}</td>
                                                            <td>${item.tonggiatien}</td>
                                                            <td>${item.ngayCapNhat}</td>
                                                            <td>${item.ten}</td>
                                                        </tr>
                                                        `
                                                    );
                                                }
                                            }
                                        })
                                        if (flag1D==false)
                                        {
                                            prevD--;
                                            countD--;
                                        }
                                    })
                                    }
                                </script>
                            </div>

                        </div>
                </div>

                <script>
                        const tabs=document.querySelectorAll('[data-tab-target]');
                        const tabContents=document.querySelectorAll('[data-tab-content]');

                        tabs.forEach(tab =>{
                            tab.addEventListener('click',()=>{
                                const tabsList=document.querySelectorAll('[data-tab-target]');
                                tabsList.forEach(tabMember=>{
                                    tabMember.classList.remove('active_tab_title');
                                });

                                const target=document.querySelector(tab.dataset.tabTarget)
                                tabContents.forEach(tabContent =>{
                                    tabContent.classList.remove('active_tab');
                                });


                                target.classList.add('active_tab');
                                tab.classList.add('active_tab_title');
                            })
                        }

                        )
                </script>
                <script>
                    jQuery(document).ready(function($) {
                        $(".clickable-row").click(function() {
                            window.location = $(this).data("href");
                        });
                    });
                </script>


        </div>
    </div>

</div>
<script src="/resources/js/filterTable.js"></script>