{{!-- Css --}}
<link rel="stylesheet" href="/resources/css/addProduct.css" />
{{!-- Javascript --}}
<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>

<div class="container_income" id="topOfPage">
    <div class="container_income_navbar fix">
        <div class="btn_show">
            <span class="fas fa-bars"></span>
        </div>
        <script>
            $('.btn_show').click(function(){
                $('.container_income').toggleClass("show");
                $('.sidebar').toggleClass("show");
            });
        </script>

        <div class="title_bar">
            {{#if product}}
                Cập nhật sản phẩm - Divisima
            {{else}}
                Đăng sản phẩm - Divisima
            {{/if}}
        </div>

        <div class="account_bar">
            <div class="account_bar_inner">
                <div class="img_shop_account">
                    <img src="/resources/img/shop/logo.9376039b.png" alt="" class="img_account_inner">
                </div>
                <div class="name_account">
                    Divisia Shop
                </div>
                <div class="down_arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="func_account_bar" id="func_auth_bar">
                <div class="func_acc" id="pass_shop">
                    Thay đổi mật khẩu
                </div>
                <div class="func_acc" id="info_shop">Thông tin Shop</div>
                <div><hr class="inline"></div>
                <div class="func_acc" id="log_out_shop">Đăng xuất</div>
            </div>
            <script>
                var minimum_photo = false;
                document.addEventListener("click", (evt) => {
                    const deactive_authe_menu = document.getElementById("func_auth_bar");
                    if (event.target.closest(".account_bar_inner")) {
                        deactive_authe_menu.style.display="block";
                        return;
                        }
                    deactive_authe_menu.style.display="none";
                    });
            </script>
        </div>
    </div>

    <div class="container_bill" style="margin-top:5px;">
        <div class="container_bill_items">
            <div class="link_path">
                <span class="root_link">Trang chủ</span>
                <span class="fas fa-greater-than" style="color: rgb(180, 180, 180); font-size: 13px;"></span>
                <span class="root_link">Sản phẩm</span>
                <span class="fas fa-greater-than" style="color: rgb(180, 180, 180); font-size: 13px;"></span>
                <span class="root_link" style="font-weight: 500;">
                {{#if product}}
                    Chỉnh sửa sản phẩm - Divisima
                {{else}}
                    Tạo mới sản phẩm - Divisima
                {{/if}} </span>
            </div>

            
        </div>
    </div>
    <div class="container_bill">
        <div class="container_bill_items">
            <div class="add-shop-header">1. Thông tin chung</div>
            <div class="add-shop-ttc add-shop-body">
                <hr>
                <div class="add-shop-ttc-name ">
                    <div>
                        <i class="fas fa-star-of-life important"></i>
                        <span class="add-shop-label">&nbsp;Tên sản phẩm</span>
                    </div>
                    <div style="margin-top:-10px;margin-left:4px;" class="w-50">
                        <input type="text" class="input_search_menu w-90" name="tensanpham" id="tensanpham" value="{{product.ten}}">
                    </div>
                </div>
                <div class="add-shop-ttc-category">
                    <div class="add-shop-category-1">
                        <div>
                            <i class="fas fa-star-of-life important"></i>
                            <span class="add-shop-label">&nbsp;Danh mục</span>
                        </div>
                        <div class="container_combo_box w-90">
                            <div class="title_combobox">
                                Danh mục cấp 1
                            </div>
                            <div class="combo_box">
                                <div class="combo_box_select">
                                    <span class="selected">&nbsp;</span>
                                    <i class="fas fa-caret-down drop-menu-down" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="drop-down-cbx disable wcb-50" id="cat-1-select">
                                {{!-- day la noi add danh muc 1 --}}
                            </div>
                        </div>
                    </div>
                    <div class="add-shop-category-2">
                        <div>
                            <i class="fas fa-star-of-life important"></i>
                            <span class="add-shop-label">&nbsp;Danh mục cấp 2</span>
                        </div>
                        <div class="container_combo_box w-90">
                            <div class="title_combobox">
                                Danh mục cấp 2
                            </div>
                            <div class="combo_box ">
                                <div class="combo_box_select">
                                    <span class="selected" id="span-2" data-maso="0">&nbsp;</span>
                                    <input value="0" name="danhmuccap2" type="text" hidden id="danhmuccap2">
                                    <i class="fas fa-caret-down drop-menu-down" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="drop-down-cbx disable wcb-50" id="cat-2-select">
                                {{!-- day la noi add danh muc 2 --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_bill">
        <div class="container_bill_items">
            <div class="add-shop-header">2. Mô tả sản phẩm</div>
            <div class="add-shop-body">
                <hr>
                <div class="add-shop-ttc-category">
                    <div class="add-shop-ttc-name w-50">
                        <div>
                            <i class="fas fa-star-of-life important"></i>
                            <span class="add-shop-label">&nbsp;Nơi sản xuất</span>
                        </div>
                        <div class="w-100 r104" >
                            <input type="text" class="input_search_menu w-90" name="noisanxuat" id="noisanxuat" value="{{product.noisx}}">
                        </div>
                    </div>
                    <div class="add-shop-ttc-name w-50">
                        <div>
                            <i class="fas fa-star-of-life important"></i>
                            <span class="add-shop-label">&nbsp;Kích thước</span>
                        </div>
                        <div class="w-100" style="margin-top:-10px;margin-left:4px;">
                            <input type="text" class="input_search_menu w-90" name="kichthuoc" id="kichthuoc" value="{{product.kichthuoc}}">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="add-shop-category-1">
                        <div>
                            <i class="fas fa-star-of-life important"></i>
                            <span class="add-shop-label">&nbsp;Trang phục dành cho</span>
                        </div>
                        <div class="container_combo_box w-90">
                            <div class="title_combobox">
                                Sex
                            </div>
                            <div class="combo_box">
                                <div class="combo_box_select">
                                    <span class="selected" id="gioitinhsudung">
                                    {{#if product.gioitinhsudung}}
                                    {{#when product.gioitinhsudung 'eq' 1}}
                                        Nữ
                                    {{/when}}
                                    {{#when product.gioitinhsudung 'eq' 2}}
                                        Unisex
                                    {{/when}}
                                    {{#when product.gioitinhsudung 'eq' 0}}
                                        Nam
                                    {{/when}}
                                    {{/if}}
                                    </span>
                                    <i class="fas fa-caret-down drop-menu-down" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="drop-down-cbx disable wcb-50" id="sex">
                                {{#if isFemale}}
                                    <div class="item-select-cbx first-item">
                                        Nam
                                    </div>
                                    <div class="item-select-cbx second-item active">
                                        Nữ
                                    </div>
                                    <div class="item-select-cbx third-item">
                                        Unisex
                                    </div>
                                {{else}}
                                    {{#if isUnisex}}
                                        <div class="item-select-cbx first-item">
                                            Nam
                                        </div>
                                        <div class="item-select-cbx second-item">
                                            Nữ
                                        </div>
                                        <div class="item-select-cbx third-item active">
                                            Unisex
                                        </div>
                                    {{else}}
                                        <div class="item-select-cbx first-item active">
                                            Nam
                                        </div>
                                        <div class="item-select-cbx second-item">
                                            Nữ
                                        </div>
                                        <div class="item-select-cbx third-item">
                                            Unisex
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-shop-ttc-name w-90 margin-top-20">
                    <div>
                        <i class="fas fa-star-of-life important"></i>
                        <span class="add-shop-label">&nbsp;Hình ảnh sản phẩm</span>
                    </div>
                    <div style="margin-top:10px;margin-left:4px;">
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script>
                        <div class="file-loading">
                            <input id="input-image-3" name="input-image" type="file" accept="image/*" multiple>
                        </div>
                        {{#if link}}
                            <form>
                        {{#each link}}
                                <input name="link[]" type="text" value="{{this}}" hidden/>
                        {{/each}}
                            </form>
                            <script>
                                var initiallink = [];
                                var links = document.getElementsByName('link[]');
                                for(var i =0;i<links.length;i++){
                                    initiallink.push(`<img src="${links[i].value}" class="kv-preview-data file-preview-image">`);
                                }
                            </script>
                            <script>
                                minimum_photo = true;
                                $("#input-image-3").fileinput({
                                    uploadUrl: "/shops/upload-product-images",
                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                    maxImageWidth: 200,
                                    maxImageHeight: 150,
                                    initialPreview: initiallink,
                                    initialPreviewAsData: false, // allows you to set a raw markup
                                    initialPreviewDownloadUrl: 'https://picsum.photos/id/{key}/1920/1080', // includes the dynamic key tag to be replaced for each config
                                    resizePreference: 'height',
                                    showPreview: true,
                                    showUpload: false,
                                    maxTotalFileCount: 8,
                                    theme: 'fas',
                                    resizeImage: true
                                }).on('filepreupload', function() {
                                    $('#kv-success-box').html('');
                                }).on('fileuploaded', function(event, data) {
                                    $('#kv-success-box').append(data.response.link);
                                    $('#kv-success-modal').modal('show');
                                });
                            </script>
                        {{/if}}
                        <script>
                        $("#input-image-3").fileinput({
                            uploadUrl: "/shops/upload-product-images",
                            allowedFileExtensions: ["jpg", "png", "gif"],
                            maxImageWidth: 200,
                            maxImageHeight: 150,
                            resizePreference: 'height',
                            showPreview: true,
                            maxTotalFileCount: 8,
                            showUpload: false,
                            theme: 'fas',
                            resizeImage: true
                        }).on('filepreupload', function() {
                            $('#kv-success-box').html('');
                        }).on('fileuploaded', function(event, data) {
                            minimum_photo = true;
                            $('#kv-success-box').append(data.response.link);
                            $('#kv-success-modal').modal('show');
                        });
                        </script>
                    </div>
                </div>
                <div class="add-shop-ttc-name w-90 margin-top-20">
                    <div>
                        <i class="fas fa-star-of-life important"></i>
                        <span class="add-shop-label">&nbsp;Mô tả chi tiết sản phẩm</span>
                    </div>
                    <div style="margin-top:10px;margin-left:4px;">
                        <div id="editor" class="margin-top-20 height-40vh">{{product.mota}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_bill">
        <div class="container_bill_items">
            <div class="add-shop-header">3. Vận hành</div>
            <div class="add-shop-ttc add-shop-body">
                <hr>
                <div class="add-shop-ttc-name ">
                    <div>
                        <i class="fas fa-star-of-life important"></i>
                        <span class="add-shop-label">&nbsp;Giá bán</span>
                    </div>
                    <div style="margin-top:-10px;margin-left:4px;" class="w-50">
                        <input type="number" class="input_search_menu w-90" id="giaban" name="giaban" value="{{product.giaban}}">
                    </div>
                </div>
                <div class="add-shop-ttc-name ">
                    <div>
                        <i class="fas fa-star-of-life important"></i>
                        <span class="add-shop-label">&nbsp;Số lượng</span>
                    </div>
                    <div style="margin-top:-10px;margin-left:4px;" class="w-50">
                        <input type="number" class="input_search_menu w-90" id="soluong" name="soluong" value="{{product.soluong}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container_bill last_container">
        <div class="container_bill_items last_item">
            <div class="clearfix">
                <div class="btn_search_input right blue-btn" id="save">
                    <i class="fas fa-save bigger"></i><span class="text_find">Lưu</span>
                </div>
                <div class="btn_search_input right red-btn" id="delete">
                    <i class="fas fa-trash-alt bigger"></i><span class="text_find">Xóa</span>
                </div>
                <div class="btn_search_input right white-btn" id="back">
                    <i class="fas fa-home bigger"></i><span class="text_find">Quay về</span>
                </div>
            </div>
        </div>
    </div>

    <!--====== Javascripts & Jquery ======-->
    <script src="/resources/js/jquery-3.2.1.min.js"></script>
    <script>
        var edit = false;
        var editor;
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( CKeditor => {
                editor = CKeditor;
            } )
            .catch( error => {
                console.error( error );
            } );
    </script>
    {{#if product.danhmuccap2}}
        <p id="checklist" data-cat1Num="{{cat1Num}}" data-cat2Num="{{product.danhmuccap2}}"></p>
        <script>
            edit = true;
            const cat1Num = +($('#checklist').attr("data-cat1Num"));
            const cat2Num = +($('#checklist').attr("data-cat2Num"));
        </script>
    {{/if}}
    <script src="/resources/js/addProduct.js"></script>
    
</div>