<div class="container_income">
    <div class="container_income_navbar">
        <div class="btn_show">
            <span class="fas fa-bars"></span>
        </div>
        <script>
            $('.btn_show').click(function(){
                $('.container_income').toggleClass("show");
                $('.sidebar').toggleClass("show");
            });
        </script>
        <div class="account_bar">
            <div class="account_bar_inner">
                <div class="img_shop_account">
                    <img src="/resources/img/shop/logo.9376039b.png" alt="" class="img_account_inner">
                </div>
                <div class="name_account">
                    Divisia Shop
                </div>
                <div class="down_arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="func_account_bar" id="func_auth_bar">
                <div class="func_acc" id="pass_shop">
                    Thay đổi mật khẩu
                </div>
                <div class="func_acc" id="info_shop">Thông tin Shop</div>
                <div><hr class="inline"></div>
                <div class="func_acc" id="log_out_shop">Đăng xuất</div>
            </div>
            <script>
                document.addEventListener("click", (evt) => {
                    const deactive_authe_menu = document.getElementById("func_auth_bar");
                    if (event.target.closest(".account_bar_inner")) {
                        deactive_authe_menu.style.display="block";
                        return;
                        }
                    deactive_authe_menu.style.display="none";
                    });
            </script>
        </div>
    </div>
    <div class="container_income_img">
        <div class="img_header">
            <img src="/resources/img/shop/fox-coat-fashion-model-website-header.jpg" alt="" class="image_shop">
            <div class="container_text_header">
                <div class="text_images_welcome">
                    Tạo sản phẩm để bắt đầu bán hàng ngay hôm nay!
                </div>
                <div class="buttons" data-href='/shops/new'>
                    <button class="btn-hover color-8"><i class="fas fa-plus"> &nbsp Tạo sản phẩm</i></button>
                </div>
                <script>
                    jQuery(document).ready(function($) {
                        $(".buttons").click(function() {
                            window.location = $(this).data("href");
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="container_in">
        <div class="container_income_items">
            <div class="container_item_include">
                <div class="container_item_ic " style="background-color:rgb(57, 159, 255)">
                    <div class="product_selling">
                        Sản phẩm đang bán
                    </div>
                    <div class="product_selling_number">
                        {{#with countProductSelling}}
                            {{SL}}
                        {{/with}}
                    </div>
                    <div class="container_btn">
                        <div class="product_selling_btn">
                            <div class="func_btn">
                                <div style="margin-right: 6px;">
                                    <i class="fas fa-tshirt"></i>
                                </div>
                                <div>
                                    Danh sách sản phẩm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container_item_ic" style="background-color:rgb(63, 104, 218)">

                    <div class="product_selling">
                        Đơn hàng chờ xác nhận
                    </div>
                    <div class="product_selling_number">
                        {{#with countWatingBill}}
                        {{SoLuong}}
                        {{/with}}
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Đang xác nhận
                        </div>
                        <div class="number_func">
                            {{#with countConfirmingBill}}
                            {{SoLuong}}
                            {{/with}}
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Đang giao
                        </div>
                        <div class="number_func">
                            {{#with countTravellingBill}}
                            {{SoLuong}}
                            {{/with}}
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Đã giao
                        </div>
                        <div class="number_func">
                            {{#with countTravelledBill}}
                            {{SoLuong}}
                            {{/with}}
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Đã hủy
                        </div>
                        <div class="number_func">
                            {{#with countRemoveBill}}
                            {{SoLuong}}
                            {{/with}}
                        </div>
                    </div>
                    <div class="container_btn">
                        <div class="product_selling_btn">
                            <div class="func_btn">
                                <div style="margin-left: 4px; margin-right: 10px">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                </div>
                                <div>Xác nhận đơn hàng</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container_item_ic" style="background-color:rgb(42, 42, 158)">
                    <div class="product_selling">
                        Doanh thu hôm nay
                    </div>
                    <div class="product_selling_number">
                        {{#with moneyToday}}
                        {{tongtien}}
                        {{/with}}
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Tổng đơn hàng hôm nay
                        </div>
                        <div class="number_func">
                            {{#with countBillToday}}
                            {{tongDon}}
                            {{/with}}
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Sản lượng bán hôm nay
                        </div>
                        <div class="number_func">
                            {{#with countAmountProductSellingToday}}
                            {{tongSanPhamHomNay}}
                            {{/with}}
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            30 ngày gần đây
                        </div>
                        <div class="number_func">
                            {{#with getMoneyMonth}}
                            {{tongTienThang}}
                            {{/with}}
                        </div>
                    </div>
                    <div class="container_btn">
                        <div class="product_selling_btn">
                            <div class="func_btn">
                                <div style="margin-left: 4px; margin-right: 10px">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div>Báo cáo bán hàng tổng hợp</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_item_rate">
                <div class="product_selling_rate">
                    Chỉ số năng lực
                </div>
                <div class="product_rate_star">
                    Chưa có đánh giá
                </div>
                <div class="wrap-stars">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>

                <div class="rating_title" style="margin-top: 30px;">
                    Các chỉ số được reset mỗi tháng
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ từ chối đơn hàng
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ đơn hàng hủy
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ xử lý chậm
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ sản phẩm lỗi
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="rating_title" style="margin-top: 5px;">
                    (Đối với trường hợp Divisima đi lấy hàng)
                </div>

                <div class="product_rating_btn">
                    <div class="func_btn">
                        <div style="margin-left: 4px; margin-right: 10px">
                            <i class="fas fa-exclamation-circle" style="color: #f8a50b;"></i>
                        </div>
                        <div>Hiện tại đang được nâng cấp</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container_income" style="margin-bottom: 50px;!important">
  <div class="container_in" style="display: flex;" >
      <div class="container_income_items" style="padding-top: 100px;padding-bottom: 100px;padding-left: 20px; padding-right: 150px;">
            <div class="col-lg-6">
                    <div class="">
                            <div id="chartContainer" style="height: 500px; width: 100%; "></div>
                            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="">
                            <div id="chartContainer2" style="height: 500px; width: 120%; "></div>
                            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                        </div>
                    </div>
    </div>
    
  </div>
</div>


{{#each last7daysIncome}}
      <input type="hidden" id="day{{id}}" data-x="{{x}}" data-y="{{y}}"> 
{{/each}} 
{{#each last7monthIncome}}
      <input type="hidden" id="month{{id}}" data-x="{{x}}" data-y="{{y}}"> 
{{/each}} 
<script>
  window.onload = function () {
    CanvasJS.addCultureInfo("es", 
    {                      
      months: ['T1', 'T2', 'T3', 'T4', 'T5','T6', 'T7','T8', 'T9', 'T10', 'T11', 'T12']
      
    });
    var dataPointDay = [];
    for(var i = 0; i < 7; i++){
      const x = $('#day'+i.toString()).data('x')
    
      const y = $('#day'+i.toString()).data('y')
      dataPointDay.push({x: new Date(x), y: y})
    }
    var dataPointMonth = [];
    for(var i = 0; i < 7; i++){
      const x = $('#month'+i.toString()).data('x')
      const y = $('#month'+i.toString()).data('y')
      dataPointMonth.push({x: new Date(x), y: y})
    }
    
    var chart = new CanvasJS.Chart("chartContainer", {
        culture: "es",
        animationEnabled: true,
        theme: "light2",
        title: {
            text: "Doanh thu hàng ngày"
        },
        axisX: {
            valueFormatString: "DD MMM",
            crosshair: {
                enabled: true,
                snapToDataPoint: true
            }
        },
        axisY: {
            title: "Số tiền (VND)",
            includeZero: true,
            crosshair: {
                enabled: true
            }
        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            verticalAlign: "bottom",
            horizontalAlign: "left",
            dockInsidePlotArea: true,
            itemclick: toogleDataSeries
        },
        data: [{
            type: "line",
            showInLegend: true,
            name: "Tổng tiền",
            markerType: "square",
            xValueFormatString: "DD MMM, YYYY",
            color: "#F08080",
            dataPoints: dataPointDay,
        },
        ]
    });
    chart.render();
    var chart2 = new CanvasJS.Chart("chartContainer2", {
        animationEnabled: true,
        theme: "light2",
        title: {
            text: "Doanh thu hàng tháng"
        },
        axisX: {
            valueFormatString: "MM, YYYY",
            crosshair: {
                enabled: true,
                snapToDataPoint: true
            }
        },
        axisY: {
            title: "Số tiền (VND)",
            includeZero: true,
            crosshair: {
                enabled: true
            }
        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            verticalAlign: "bottom",
            horizontalAlign: "left",
            dockInsidePlotArea: true,
            itemclick: toogleDataSeries
        },
        data: [{
            type: "line",
            showInLegend: true,
            name: "Tổng tiền",
            markerType: "square",
            xValueFormatString: "MMM, YYYY",
            color: "#F08080",
            dataPoints: dataPointMonth,
        },
        ]
    });
    chart2.render();
    function toogleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chart.render();
        chart2.render();
    }

    


}
</script>
