{{#with this.listBillDetail}}
<div class="container_income">
    <div class="update-bill-dialog">
        <div class="dialog">
            <div class="question-dialog">
                Bạn có muốn hủy đơn hàng này ?
            </div>
            <div class="container-dialog-btn">
                <div class="ctn_update_cbx">
                    <div class="btn_back_input clickable-dialog">
                        <i class="fas fa-arrow-left" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Quay lại</span>
                    </div>
                </div>
                <div class="ctn_update_cbx">
                    <div class="btn_update_input clickable-dialog">
                        <i class="far fa-check-circle" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-dialog").click(function() {
                $('.update-bill-dialog').fadeOut();
            });
        });
    </script>
    <div class="container_income_navbar">
        <div class="btn_show">
            <span class="fas fa-bars"></span>
        </div>
        <script>
            $('.btn_show').click(function(){
                $('.container_income').toggleClass("show");
                $('.sidebar').toggleClass("show");
            });
        </script>

        <div class="title_bar">
            Danh sách đơn hàng - Division giao hàng
        </div>

        <div class="account_bar">
            <div class="account_bar_inner">
                <div class="img_shop_account">
                    <img src="/resources/img/shop/logo.9376039b.png" alt="" class="img_account_inner">
                </div>
                <div class="name_account">
                    Divisia Shop
                </div>
                <div class="down_arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="func_account_bar" id="func_auth_bar">
                <div class="func_acc" id="pass_shop">
                    Thay đổi mật khẩu
                </div>
                <div class="func_acc" id="info_shop">Thông tin Shop</div>
                <div><hr class="inline"></div>
                <div class="func_acc" id="log_out_shop">Đăng xuất</div>
            </div>
            <script>
                document.addEventListener("click", (evt) => {
                    const deactive_authe_menu = document.getElementById("func_auth_bar");
                    if (event.target.closest(".account_bar_inner")) {
                        deactive_authe_menu.style.display="block";
                        return;
                        }
                    deactive_authe_menu.style.display="none";
                    });
            </script>
        </div>
    </div>

    <form action="/shops/update-bills-detail/{{maso}}" method="POST">
    <div class="container_bill">
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="link_path">
                <span class="root_link">Trang trủ</span>
                <span class="fas fa-greater-than" style="color: rgb(180, 180, 180); font-size: 13px;"></span>
                <span class="root_link">Danh sách đơn hàng - Division</span>
                <span class="fas fa-greater-than" style="color: rgb(180, 180, 180); font-size: 13px;"></span>
                <span class="root_link" style="font-weight: 500;">Chi tiết đơn hàng</span>
            </div>

            <div class="customer-information">
                1. Thông tin khách hàng
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Mã khách hàng
                    </div>
                    <input type="text" placeholder="{{taikhoan}}" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Tên khách hàng
                    </div>
                    <input type="text" placeholder="{{hoten}}" class="input_detail" readonly="readonly">
                </div>
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Email
                    </div>
                    <input type="text" placeholder="{{email}}" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Số điện thoại
                    </div>
                    <input type="text" placeholder="{{sdt}}" style="width: 100%;" readonly="readonly">
                </div>
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Số điện thoại người nhận
                    </div>
                    <input type="text" placeholder="{{sdtnguoinhan}}" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Địa chỉ người nhận
                    </div>
                    <input type="text" placeholder="{{diachinguoinhan}}" style="width: 100%;" readonly="readonly">
                </div>
            </div>

           
            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Tình trạng đơn hàng
                    </div>
                    <div class="combo_box_status" style="width: 100%;">
                        <div class="combo_box_select">
                            <span class="selected" style="color: rgb(0, 0, 0); padding-left: 10px; font-weight:bold;">{{ten}}</span>
                            <i class="fas fa-caret-down drop-menu-down"></i>
                            <input type="hidden" name="status_bill" value="{{tinhtrangdon}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="drop-down-cbx-status">
                <div class="item-select-cbx first-item active">
                    Đang xác nhận
                </div>
                <div class="item-select-cbx second-item">
                    Đang giao
                </div>
                <div class="item-select-cbx third-item">
                    Đã giao
                </div>
            </div>

        </div>
    </div>

    <div class="container_bill">
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="customer-information">
                2. Thông tin đơn hàng
            </div>

            <div class="table_bill_container" style="padding-bottom: 0px;">
                           
                                <table class="table_bill">
                                    <thead>
                                        <tr id="header">
                                            <th>Sản phẩm</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Size</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.listSanPham}}
                                        <tr>
                                            <td class="product_cart_bill">
                                                <img src="{{link}}" alt="">
                                                <div class="ctn-product-properties">
                                                    <div class="name-prod">
                                                        {{ten}}
                                                    </div>
                                                    <div class="single-price">
                                                        {{giaban}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{maso}}</td>
                                            <td>{{kichthuoc}}</td>
                                            <td>{{soluongmua}}</td>
                                            <td>{{dongia}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
            </div>

            <div class="total_all_price">
                <div class="ctn_total_price">
                    <div class="text-total">
                        Tổng cộng:
                    </div>
                    <div class="total-price-num">
                        {{tonggiatien}}
                    </div>
                </div>
            </div>

            <script>
                    $(document).on('click', function(e) {
                        if($(e.target).closest('.combo_box_select').not(this).length){
                            $('.drop-down-cbx-status').removeClass("disable");
                            $('.drop-down-cbx-status').toggleClass("show");

                            $('.drop-menu-down').toggleClass("rotate");
                        }else{      
                            $('.drop-down-cbx-status').removeClass("show");
                            $('.drop-down-cbx-status').toggleClass("disable");

                        }
                    });


                    $('.first-item').click(function(){
                        $('.selected').text("Đang xác nhận");
                        $('.drop-menu-down').toggleClass("rotate");
                        $('.combo_box_select input').val("1");
                    });
                    $('.second-item').click(function(){
                        $('.selected').text("Đang giao");
                        $('.drop-menu-down').toggleClass("rotate");
                        $('.combo_box_select input').val("2");
                    });
                    $('.third-item').click(function(){
                        $('.selected').text("Đã giao");
                        $('.drop-menu-down').toggleClass("rotate");
                        $('.combo_box_select input').val("3");
                    });
                    $('.item-select-cbx').click(function(){
                        $(this).addClass("active").siblings().removeClass("active");
                    });
            </script>

        </div>
    </div>
    
    <div class="container-update-detail">
        <div class="ctn_update_cbx">
            <div class="btn_back_input clickable-row" data-href='/shops/bills-detail/{{maso}}'>
                <i class="fas fa-arrow-left" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Quay lại</span>
             </div>
        </div>
        <div class="ctn_update_cbx" id="btn-update">
            <div class="btn_update_input">
                <i class="far fa-save" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Lưu đơn</span>
             </div>
        </div>
    </div>
    <script>
        $('#btn-update').click(function() {document.forms[0].submit()});
        $('#btn-remove').click(function() {
            $('.combo_box_select input').val("4");
            document.forms[0].submit()});
    </script>
    </form>

    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
</div>
{{/with}}