<style>
    .group_of_shop_info {
        margin-left: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50vw;
    }

    .group_row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
</style>

<div class="container-shop-info">
    <div class="container_header_shop">
        <div class="container_name_shop">
            <img src="/resources/img/shop/logo.9376039b.png" alt="" class="img-shop">
            <div class="name_of_shop" style="font-size: x-large;">
                {{shopInfo.ten}}
            </div>
            <div class="group_of_shop_info">
                <div class="group_row">
                    <span style="color: whitesmoke;"><i class="fas fa-mail-bulk"></i> Email:&nbsp;</span> <span style="color:#f51167;">{{shopInfo.email}}</span>
                    <span style="color: whitesmoke;margin-left:5vw"><i class="fas fa-address-card"></i> Địa chỉ:&nbsp;</span> <span style="color:#f51167;">{{shopInfo.diachi}}</span>
                </div>
                <div class="group_row">
                    <span style="color: whitesmoke;"><i class="fas fa-phone"></i> Số điện thoại:&nbsp;</span> <span style="color:#f51167;">{{shopInfo.sdt}}</span>
                    <span style="color: whitesmoke;margin-left:5vw"><i class="fas fa-building"></i> Ngày hoạt động:&nbsp;</span> <span style="color:#f51167;">{{shopInfo.ngaymo}}</span>
                </div>
            </div>
        </div>
        <div class="container-feature-tab" style="width: 100%;">
            <div class="tab_triger">
                <ul>
                    <li style="width: 100%;">
                        <label data-tab-target="#tab1" class="tab_1 active_tab_title">Tất cả sản phẩm</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container_menu_product active_tab" id="tab1" data-tab-content>
        <div class="container_menu_sidebar">
            <div class="tittle-menu-cate">
                Danh mục sản phẩm
            </div>
            {{#each this.category}}
            <div class="cate-sidebar">
                <div class="cate-name-sidebar">
                    <a href="/shop/shops-information/{{shopID}}/{{maCap1}}/byCat1" style="color: black; font-weight: bold;">{{tenCap1}}</a>
                </div>
                {{#each this.tenCap2}}
                <div class="catesub-name-sidebar">
                    <a href="/shop/shops-information/{{shopID}}/{{danhmuccap2}}/byCat2" style="color: black;">{{subCat}}</a>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>

        <div class="container_product_finding">
            <div class="container-tab-name-select">
                <div class="tab-name-select">Tất cả sản phẩm: </div>
                <div class="number-result">{{totalProduct}} Kết quả</div>
            </div>

            <div class="container_product_sort">
                <div class="sort-name-select">
                    <div class="tittle-sort">Sắp xếp theo</div>
                    <div class="sort-name clickable-row {{#if isAll}}selected-sort{{/if}} {{#if isCap1}}selected-sort{{/if}}{{#if isCap2}}selected-sort{{/if}}" data-href='/shop/shops-information/{{shopID}}'>Chọn lọc</div>
                    <div class="sort-name clickable-row {{#if isLow}}selected-sort{{/if}}" data-href='/shop/shops-information/{{shopID}}/asc'>Giá thấp</div>
                    <div class="sort-name clickable-row {{#if isHigh}}selected-sort{{/if}}" data-href='/shop/shops-information/{{shopID}}/des'>Giá cao</div>
                </div>
            </div>

            <div class="container-contains-product">
                <div class="row">
                    {{#each listProductByShopID}}
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                                    <div class="pi-pic">
                                        <div style="display: flex;">
                                            {{#if isNewest}}
                                                <div class="tag-new">NEW</div>
                                            {{/if}}
                                            {{#if isBestSeller}}
                                                <div class="tag-sale" style="margin-top: 20px;">ON SALE</div>
                                            {{/if}}
                                        </div>
                                        <a href="/products/{{maso}}">
                                            <img src="{{avatar}}" alt="" style="height: 250px;">
                                        </a>
                                        <div class="pi-links">
                                            <a href="javascript: muaNgay('#NewfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
                                            <form method="POST" class ="frmAddToCart" id="NewfrmAddToCart{{maso}}" action="/add_to_cart">
                                                <input  type="hidden" name="id" value="{{maso}}">
                                                <input  type="hidden" name="sl" value="1">
                                                <a href="javascript: addToCart('#NewfrmAddToCart{{maso}}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                                            </form>
                                        </div>
                                    </div>
                                    <a href="/products/{{maso}}">
                                        <div class="pi-text">
                                            <h6>{{giaban}}</h6>
                                            <p>{{ten}} </p>
                                        </div>
                                    </a>
                                    <div class="p-review">
                                        <p href=""><i class="flaticon-shopping-cart"></i> {{this.luotmua}}  lượt mua</p>
                                    </div>
                                    <div class="p-rating">
                                        {{#each this.star}}
                                            {{{this}}}
                                        {{/each}}
                                            ({{this.luotdanhgia}} đánh giá)
                                    </div>
                                </div>
                    </div>
                    {{/each}}
                </div>

            </div>

            <div class="container-pagination" id="xemthem">
                <div class="btn-pagination">
                    Xem thêm
                </div>
            </div>

            {{#if isAll}}
                <div class="container-pagination clickable-row" id="thugon" data-href='/shop/shops-information/{{shopID}}'>
                    <div class="btn-pagination">
                        Thu gọn lại
                    </div>
                </div>
            {{/if}}

            {{#if isHigh}}
                <div class="container-pagination clickable-row" id="thugon" data-href='/shop/shops-information/{{shopID}}/des'>
                    <div class="btn-pagination">
                        Thu gọn lại
                    </div>
                </div>
            {{/if}}

            {{#if isLow}}
                <div class="container-pagination clickable-row" id="thugon" data-href='/shop/shops-information/{{shopID}}/asc'>
                    <div class="btn-pagination">
                        Thu gọn lại
                    </div>
                </div>
            {{/if}}

            {{#if isCap1}}
                <div class="container-pagination clickable-row" id="thugon" data-href='/shop/shops-information/{{shopID}}/{{CatID}}/byCat1'>
                    <div class="btn-pagination">
                        Thu gọn lại
                    </div>
                </div>
            {{/if}}

            {{#if isCap2}}
                <div class="container-pagination clickable-row" id="thugon" data-href='/shop/shops-information/{{shopID}}/{{CatID}}/byCat2'>
                    <div class="btn-pagination">
                        Thu gọn lại
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</div>
<script src="/resources/js/jquery-3.2.1.min.js"></script>
{{#if isAll}}
    <script>
        var count=1;
        var maxpage={{maxpage}};
        var shopID={{shopID}};
        $('#thugon').hide();
        if (maxpage==1)
        {
            $('#xemthem').hide();
        }
        $('#xemthem').click(function(){
            count++;
            if (count==maxpage)
            {
                $('#xemthem').hide();
                $('#thugon').show();
            }
            $.getJSON({
                url:`/shop/bills_discard.json/${shopID}?page=${count}`,
                success: function(data){
                    for (item of data)
                    {
                        $('.row').append(
                            `
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                                    <div class="pi-pic">
                                        <div style="display: flex;">`+
                                            `
                                        </div>

                                        <a href="/products/${item.maso}">
                                            <img src="${item.avatar}" alt="" style="height: 250px;">
                                        </a>
                                        <div class="pi-links">
                                            <a href="javascript: muaNgay('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
                                            <form method="POST" class ="frmAddToCart" id="NewfrmAddToCart${item.maso}" action="/add_to_cart">
                                                <input  type="hidden" name="id" value="${item.maso}">
                                                <input  type="hidden" name="sl" value="1">
                                                <a href="javascript: addToCart('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                                            </form>
                                        </div>
                                    </div>
                                    <a href="/products/${item.maso}">
                                        <div class="pi-text">
                                            <h6>${item.giaban}</h6>
                                            <p>${item.ten} </p>
                                        </div>
                                    </a>
                                    <div class="p-review">
                                        <p href=""><i class="flaticon-shopping-cart"></i> ${item.luotmua}  lượt mua</p>
                                    </div>
                                    <div class="p-rating">`+
                                        `
                                        ${item.star}
                                        `+
                                        `
                                            (${item.luotdanhgia} đánh giá)
                                    </div>
                                </div>
                    </div>
                            `
                            );
                    }
                }
            })
        });
    </script>
{{/if}}

{{#if isLow}}
    <script>
        var count=1;
        var maxpage={{maxpage}};
        var shopID={{shopID}};
        $('#thugon').hide();
        if (maxpage==1)
        {
            $('#xemthem').hide();
        }
        $('#xemthem').click(function(){
            count++;
            if (count==maxpage)
            {
                $('#xemthem').hide();
                $('#thugon').show();
            }
            $.getJSON({
                url:`/shop/bills_discard_low.json/${shopID}?page=${count}`,
                success: function(data){
                    for (item of data)
                    {
                        $('.row').append(
                            `
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                                    <div class="pi-pic">
                                        <div style="display: flex;">`+
                                            `
                                        </div>

                                        <a href="/products/${item.maso}">
                                            <img src="${item.avatar}" alt="" style="height: 250px;">
                                        </a>
                                        <div class="pi-links">
                                            <a href="javascript: muaNgay('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
                                            <form method="POST" class ="frmAddToCart" id="NewfrmAddToCart${item.maso}" action="/add_to_cart">
                                                <input  type="hidden" name="id" value="${item.maso}">
                                                <input  type="hidden" name="sl" value="1">
                                                <a href="javascript: addToCart('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                                            </form>
                                        </div>
                                    </div>
                                    <a href="/products/${item.maso}">
                                        <div class="pi-text">
                                            <h6>${item.giaban}</h6>
                                            <p>${item.ten} </p>
                                        </div>
                                    </a>
                                    <div class="p-review">
                                        <p href=""><i class="flaticon-shopping-cart"></i> ${item.luotmua}  lượt mua</p>
                                    </div>
                                    <div class="p-rating">`+
                                        `
                                        ${item.star}
                                        `+
                                        `
                                            (${item.luotdanhgia} đánh giá)
                                    </div>
                                </div>
                    </div>
                            `
                            );
                    }
                }
            })
        });
    </script>
{{/if}}

{{#if isHigh}}
    <script>
        var count=1;
        var maxpage={{maxpage}};
        var shopID={{shopID}};
        $('#thugon').hide();
        if (maxpage==1)
        {
            $('#xemthem').hide();
        }
        $('#xemthem').click(function(){
            count++;
            if (count==maxpage)
            {
                $('#xemthem').hide();
                $('#thugon').show();
            }
            $.getJSON({
                url:`/shop/bills_discard_high.json/${shopID}?page=${count}`,
                success: function(data){
                    for (item of data)
                    {
                        $('.row').append(
                            `
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                                    <div class="pi-pic">
                                        <div style="display: flex;">`+
                                            `
                                        </div>

                                        <a href="/products/${item.maso}">
                                            <img src="${item.avatar}" alt="" style="height: 250px;">
                                        </a>
                                        <div class="pi-links">
                                            <a href="javascript: muaNgay('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
                                            <form method="POST" class ="frmAddToCart" id="NewfrmAddToCart${item.maso}" action="/add_to_cart">
                                                <input  type="hidden" name="id" value="${item.maso}">
                                                <input  type="hidden" name="sl" value="1">
                                                <a href="javascript: addToCart('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                                            </form>
                                        </div>
                                    </div>
                                    <a href="/products/${item.maso}">
                                        <div class="pi-text">
                                            <h6>${item.giaban}</h6>
                                            <p>${item.ten} </p>
                                        </div>
                                    </a>
                                    <div class="p-review">
                                        <p href=""><i class="flaticon-shopping-cart"></i> ${item.luotmua}  lượt mua</p>
                                    </div>
                                    <div class="p-rating">`+
                                        `
                                        ${item.star}
                                        `+
                                        `
                                            (${item.luotdanhgia} đánh giá)
                                    </div>
                                </div>
                    </div>
                            `
                            );
                    }
                }
            })
        });
    </script>
{{/if}}


{{#if isCap1}}
    <script>
        var count=1;
        var maxpage={{maxpage}};
        var shopID={{shopID}};
        var CatID={{CatID}};
        $('#thugon').hide();
        if (maxpage==1)
        {
            $('#xemthem').hide();
        }
        $('#xemthem').click(function(){
            count++;
            if (count==maxpage)
            {
                $('#xemthem').hide();
                $('#thugon').show();
            }
            $.getJSON({
                url:`/shop/bills_discard_cap1.json/${shopID}/${CatID}?page=${count}`,
                success: function(data){
                    for (item of data)
                    {
                        $('.row').append(
                            `
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                                    <div class="pi-pic">
                                        <div style="display: flex;">`+
                                            `
                                        </div>

                                        <a href="/products/${item.maso}">
                                            <img src="${item.avatar}" alt="" style="height: 250px;">
                                        </a>
                                        <div class="pi-links">
                                            <a href="javascript: muaNgay('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
                                            <form method="POST" class ="frmAddToCart" id="NewfrmAddToCart${item.maso}" action="/add_to_cart">
                                                <input  type="hidden" name="id" value="${item.maso}">
                                                <input  type="hidden" name="sl" value="1">
                                                <a href="javascript: addToCart('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                                            </form>
                                        </div>
                                    </div>
                                    <a href="/products/${item.maso}">
                                        <div class="pi-text">
                                            <h6>${item.giaban}</h6>
                                            <p>${item.ten} </p>
                                        </div>
                                    </a>
                                    <div class="p-review">
                                        <p href=""><i class="flaticon-shopping-cart"></i> ${item.luotmua}  lượt mua</p>
                                    </div>
                                    <div class="p-rating">`+
                                        `
                                        ${item.star}
                                        `+
                                        `
                                            (${item.luotdanhgia} đánh giá)
                                    </div>
                                </div>
                    </div>
                            `
                            );
                    }
                }
            })
        });
    </script>
{{/if}}

{{#if isCap2}}
    <script>
        var count=1;
        var maxpage={{maxpage}};
        var shopID={{shopID}};
        var CatID={{CatID}};
        $('#thugon').hide();
        if (maxpage==1)
        {
            $('#xemthem').hide();
        }
        $('#xemthem').click(function(){
            count++;
            if (count==maxpage)
            {
                $('#xemthem').hide();
                $('#thugon').show();
            }
            $.getJSON({
                url:`/shop/bills_discard_cap2.json/${shopID}/${CatID}?page=${count}`,
                success: function(data){
                    for (item of data)
                    {
                        $('.row').append(
                            `
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                                    <div class="pi-pic">
                                        <div style="display: flex;">`+
                                            `
                                        </div>

                                        <a href="/products/${item.maso}">
                                            <img src="${item.avatar}" alt="" style="height: 250px;">
                                        </a>
                                        <div class="pi-links">
                                            <a href="javascript: muaNgay('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-shopping-cart"></i><span>Mua ngay</span></a>
                                            <form method="POST" class ="frmAddToCart" id="NewfrmAddToCart${item.maso}" action="/add_to_cart">
                                                <input  type="hidden" name="id" value="${item.maso}">
                                                <input  type="hidden" name="sl" value="1">
                                                <a href="javascript: addToCart('#NewfrmAddToCart${item.maso}');" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                                            </form>
                                        </div>
                                    </div>
                                    <a href="/products/${item.maso}">
                                        <div class="pi-text">
                                            <h6>${item.giaban}</h6>
                                            <p>${item.ten} </p>
                                        </div>
                                    </a>
                                    <div class="p-review">
                                        <p href=""><i class="flaticon-shopping-cart"></i> ${item.luotmua}  lượt mua</p>
                                    </div>
                                    <div class="p-rating">`+
                                        `
                                        ${item.star}
                                        `+
                                        `
                                            (${item.luotdanhgia} đánh giá)
                                    </div>
                                </div>
                    </div>
                            `
                            );
                    }
                }
            })
        });
    </script>
{{/if}}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>