<link rel="stylesheet" href="/resources/css/profile.css">
<link rel="stylesheet" href="/resources/css/shop_bill.css">
<div class="container-ratingstar">
    <form action="/users/rating-product" method="POST" id="rating-form">
        <div class="container-star">
            <div class="hide_rating" id="hide-btn">
                <i class="fas fa-minus-circle"></i>
            </div>
            <div class="star-widget">
                <input type="hidden" name="id_product" id="id_product">
                <input type="radio" name="rate" id="rate-5" value="5">
                <label for="rate-5" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-4" value="4">
                <label for="rate-4" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-3" value="3">
                <label for="rate-3" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-2" value="2">
                <label for="rate-2" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-1" value="1">
                <label for="rate-1" class="fas fa-star"></label>
            </div>
            <div class="fucking_star">
                <header>Bạn</header>
                <div class="textarea">
                    <textarea cols="30" placeholder="Đánh giá sản phẩm của bạn..." name="cmReview" id="comment"></textarea>
                </div>
                <div class="btn-submit-rating">
                    <button type="button" onclick="removeItem();" >Đánh giá</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var div = document.getElementsByClassName('hide_rating')[0];
     div.addEventListener('click', function (event) {
         $('.container-ratingstar').fadeOut();
    });
    console.log(div);
    function removeItem() {
        var rows = $('#comment').val();
        var row = $('input[name=rate]:checked').val();
        if (rows.length===0)
        {
            $(".fucking_star header").html("Bạn chưa đánh giá");
            console.log("Bạn chưa đánh giá");
            return;
        }
        if (row===undefined)
        {
            $(".fucking_star header").html("Bạn chưa chọn số sao");
            console.log("Bạn chưa chọn số sao");
            return;
        }
        $('#rating-form').submit();
    }
</script>
<body>
    <div class="page_wrapper">
        <div class="title_container">
            <h2 class="title">Trang cá nhân</h2>
        </div>
        <section class="body_container">
            <div class="tabs_container">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <ul>
                            <li><a class="li_tab" href="/users/profile">Cập nhật thông
                                    tin cá nhân</a></li>
                            <li><a class="li_tab" href="/users/shopping-cart">Giỏ hàng</a></li>
                            <li><a class="li_tab" href="/users/orders" style="color: #f51167 !important">Lịch sử đơn hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_container">
                <div class="update_profile_title">
                    <h4>Chi tiết đơn hàng</h4>
                </div>
                <div class="container_bill">
        {{#with bill}}
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="link_path">
                <a class="root_link" style="text-decoration: none; cursor: pointer; color: #f51167" href="/users/orders">Danh sách đơn hàng</a>
                >
                <span class="root_link" style="font-weight: 500;">Chi tiết đơn hàng</span>
            </div>

            <div class="customer-information">
                1. Thông tin khách hàng
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Mã khách hàng
                    </div>
                    <input type="text" placeholder="{{maso}}" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Tên khách hàng
                    </div>
                    <input type="text" placeholder="{{hoten}}" class="input_detail" readonly="readonly">
                </div>
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Email
                    </div>
                    <input type="text" placeholder="{{email}}" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Số điện thoại
                    </div>
                    <input type="text" placeholder="{{sdt}}" style="width: 100%;" readonly="readonly">
                </div>
            </div>

            {{#with this.listBillDetail}}
            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Số điện thoại người nhận
                    </div>
                    <input type="text" placeholder="{{sdtnguoinhan}}" style="width: 100%;" readonly="readonly">
                </div>

                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Địa chỉ người nhận
                    </div>
                    <input type="text" placeholder="{{diachinguoinhan}}" class="input_detail" style="width: 100%;" readonly="readonly">
                </div>
            </div>


            <div class="input_detail_ct">
                <div class="container_combo_box">
                    <div class="title_combobox">
                        Tình trạng đơn hàng
                    </div>
                    <input type="text" placeholder="{{ten}}" style="width: 100%;" readonly="readonly">
                </div>
            </div>
            {{/with}}

        </div>
    </div>

    <div class="container_bill">
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="customer-information">
                2. Thông tin đơn hàng
            </div>

            <div class="table_bill_container" style="padding-bottom: 0px; padding-top:10px">
                           
                                <table class="table_bill">
                                    <thead>
                                        <tr id="header">
                                            <th>Sản phẩm</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Size</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th>Đánh giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#with this.listBillDetail}}
                                            {{#each this.listSanPham}}
                                            <tr>
                                                <td class="product_cart_bill">
                                                    <img src="{{link}}" alt="">
                                                    <div class="ctn-product-properties">
                                                        <div class="name-prod">
                                                            {{ten}}
                                                        </div>
                                                        <div class="single-price">
                                                            {{giaban}}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{maso}}</td>
                                                <td>{{kichthuoc}}</td>
                                                <td>{{soluongmua}}</td>
                                                <td>{{dongia}}</td>
                                                <td><button id="click_review_{{maso}}">Đánh giá</button></td>
                                            </tr>
                                            <script>
                                                var myEl_{{maso}} = document.getElementById('click_review_{{{maso}}}');
                                                var idProduct_{{maso}}= document.getElementById('id_product');
                                                var stringId_{{maso}}={{maso}};
                                                myEl_{{maso}}.addEventListener('click', function() {
                                                    idProduct_{{maso}}.value=stringId_{{maso}};
                                                    $('.container-ratingstar').fadeIn();
                                                }, false);
                                            </script>
                                            {{/each}}
                                        {{/with}}
                                    </tbody>
                                </table>
            </div>

            <div class="total_all_price">
                <div class="ctn_total_price">
                    <div class="text-total">
                        Tổng cộng:
                    </div>
                    <div class="total-price-num">
                        {{tonggiatien}}
                    </div>
                </div>
            </div>

        {{/with}}
        </div>
    </div>
    <div class="container-update-detail">
        <div class="ctn_update_cbx clickable-row" data-href='/shops/bills'>
            <div class="btn_back_input">
                <i class="fas fa-ban" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Hủy đơn</span>
             </div>
        </div>

        <div class="ctn_update_cbx">
            <div class="btn_update_input">
                <i class="fas fa-wrench" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Cập nhật</span>
             </div>
        </div>
    </div>
            </div>
    </div>
    </section>

    </div>
</body>
<!--====== Javascripts & Jquery ======-->
<script src="/resources/js/jquery-3.2.1.min.js"></script>