<link rel="stylesheet" href="/resources/css/cart.css">
<body>
	<div class="page_wrapper">
		<div class="title_container">
			<h2 class="title">Trang cá nhân</h2>
		</div>
		<section class="body_container">
			<div class="tabs_container">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<ul>
							<li><a class="li_tab" href="/users/profile">Cập nhật thông tin cá nhân</a></li>
							<li><a class="li_tab" href="/users/shopping-cart" style="color: #f51167 !important">Giỏ hàng</a></li>
							<li><a class="li_tab" href="/users/orders">Lịch sử đơn hàng</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content_container">
				<div class="cart_title">
					<h4>Giỏ hàng</h4>
				</div>
				<div class="cart_container">
					{{#if empty}}
					<div class="empty_cart_container">
						<img src="/resources/img/cart/empty-cart.svg" alt="empty-cart-photo">
						<h3>Không có sản phẩm nào trong giỏ hàng</h3>
						<button class="site-btn sb-line sb-dark continue_shopping_btn" onclick="window.location.href = '/products/';">Tiếp tục mua sắm</button>
					</div>
					{{else}}
					<div class="cart_list overflow-hidden">
						<div class="row description_title">
							<div class="col-6" id="product_description">
								<span>Sản phẩm</span>
							</div>
							<div class="col-2">
								<span>Số lượng</span>
							</div>
							<div class="col-2" id="price_description">
								<span>Giá</span>
							</div>
						</div>
						{{#each products}}
						<div class="row single_product">
						
							<div class="col-2 image_col">
								<a href="/products/{{maso}}">
									<img id="product_image" src="{{hinhanh}}" alt="product-on-cart">
								</a>
								
							</div>
							<div class="col-4 product_details">
								<a href="/products/{{maso}}">
									<h4 id="product_name">{{ten}}</h4>
								</a>
								
								<span id="product_price">{{giaban}} đ</span>
								<span id="product_id">#{{maso}}</span>
								<span id="product_size">Size {{kichthuoc}}</span>
								<span id="shop">{{cuahang}}</span>
							</div>
							<div class="col-2 product_quantity">
								<div class="quantity">
									{{#unless conlai}} 
										<span style="margin-left: -50px; color:#f51167">Sản phẩm tạm hết hàng</span>
										<input type="number" min="0" max="0" step="1" value="0">
									{{else}}
										<input type="number" min="1" max="{{conlai}}" step="1" value="{{soluong}}">
									{{/unless}}
								</div>
								<form class="hidden_amount_changed_form" action="/users/change-amount-cart" method="post" hidden>
									{{#unless conlai}}
										<input type="hidden" name="soluong" value="0">
									{{else}}
										<input type="hidden" name="soluong" value="{{soluong}}">
									{{/unless}}
									<input type="hidden" name="masanpham" value="{{maso}}">
									<input type="hidden" name="magiohang" value="{{giohang}}">
								</form>
							</div>
							<div class="col-3 product_total_price">
								<h4 class="product_price_total">{{#unless conlai}} 0 {{else}} {{giaban}} {{/unless}}</h4><h4> đ</h4>
							</div>
							<div class="col-1 delete_button_container">
								<button class="delete_button" type="button"><i class="fas fa-trash"></i></button>
							</div>
						</div>
						{{/each}}
					</div>
					{{/if}}
				</div>
				{{#unless empty}}
				<div class="row temp_bill">
					<div class="col-8" style="display:flex; justify-content:flex-end;">
						<span style="margin-top: 35px;">Tổng tiền</span>
					</div>
					<div class="col-2 total_price_container">
						<h3 id="total_cart_price">0 đ</h3>
						<button class="site-btn sb-line sb-dark pay_btn {{#if outOfProduct}} disable_btn {{/if}}" {{#if outOfProduct}} disabled {{/if}} > Thanh toán</button>
					</div>
				</div>
				{{/unless}}
			</div>
		</section>

	</div>
</body>
<!--====== Javascripts & Jquery ======-->
<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script src="/resources/js/cart.js"></script>
{{!-- Notification xinh dep --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="sweetalert2.min.css">