<link rel="stylesheet" href="/resources/css/profile.css">
<link rel="stylesheet" href="/resources/css/shop_bill.css">
<body>
    <div class="page_wrapper">
        <div class="title_container">
            <h2 class="title">Trang cá nhân</h2>
        </div>
        <section class="body_container">
            <div class="tabs_container">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <ul>
                            <li><a class="li_tab" href="/users/profile">Cập nhật thông
                                    tin cá nhân</a></li>
                            <li><a class="li_tab" href="/users/shopping-cart">Giỏ hàng</a></li>
                            <li><a class="li_tab" href="/users/orders" style="color: #f51167 !important">Lịch sử đơn hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_container">
                <div class="update_profile_title">
                    <h4>Lịch sử đơn hàng</h4>
                </div>
                <div class="container_bill">
                    <div class="container_bill_items">
                        <div class="input_search">
                            <input id = "myInput" type="text" placeholder="Tìm đơn hàng"
                                class="input_search_menu" height="10" />

                            
                        </div>
                    </div>
                </div>
                <div class="container_bill">
                    <div class="container_bill_items">
                        <div class="container_tabs_table">
                            <div class="tab_triger">
                                <ul>
                                    <li onclick="javascript: $('.total_pagination').html('Tổng cộng {{#unless allBills}}0 {{else}} {{allBills.length}} {{/unless}}bản ghi')">
                                        <label data-tab-target="#tab1" class="active_tab_title">Tất cả</label>
                                    </li>
                                    <li onclick="javascript: $('.total_pagination').html('Tổng cộng {{#unless allYetConfirmed}}0 {{else}} {{allYetConfirmed.length}} {{/unless}}bản ghi')">
                                        <label data-tab-target="#tab2">Chờ xác nhận</label>
                                    </li>
                                    <li onclick="javascript: $('.total_pagination').html('Tổng cộng {{#unless allTraveling}}0 {{else}} {{allTraveling.length}} {{/unless}}bản ghi')">
                                        <label data-tab-target="#tab3">Đang vận chuyển</label>
                                    </li>
                                    <li onclick="javascript: $('.total_pagination').html('Tổng cộng {{#unless allTraveled}}0 {{else}} {{allTraveled.length}} {{/unless}}bản ghi')">
                                        <label data-tab-target="#tab4">Đã giao hàng</label>
                                    </li>
                                    <li onclick="javascript: $('.total_pagination').html('Tổng cộng {{#unless allCanceled}}0 {{else}} {{allCanceled.length}} {{/unless}}bản ghi')">
                                        <label data-tab-target="#tab5">Bị hủy</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab_container_wrap">
                            <div class="tab_container_box active_tab" id="tab1" data-tab-content>
                                <div class="table_bill_container">
                                    <div style="overflow:auto;  height:500px;">
                                    <table>
                                        <thead>
                                            <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày mua</th>
                                            <th>Sản phẩm</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {{#each allBills}}
                                            <tr data-billid='{{maso}}'>
                                                <td>{{maso}}</td>
                                                <td>{{ngaymua}}</td>
                                                <td>{{sanpham}}</td>
                                                <td>{{tonggiatien}}</td>
                                                {{#when tinhtrangdon 'eq' 1}} <td>Đang chờ xác nhận</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 2}} <td>Đang giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 3}} <td>Đã giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 4}} <td>Đã huỷ</td> {{/when}}
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        
                                    </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab_container_box" id="tab2" data-tab-content>
                                <div class="table_bill_container">
                                    <div style="overflow:auto;  height:500px;">
                                    <table>
                                        <thead>
                                            <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày mua</th>
                                            <th>Sản phẩm</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {{#each allYetConfirmed}}
                                            <tr data-billid='{{maso}}'>
                                                <td>{{maso}}</td>
                                                <td>{{ngaymua}}</td>
                                                <td>{{sanpham}}</td>
                                                <td>{{tonggiatien}}</td>
                                                {{#when tinhtrangdon 'eq' 1}} <td>Đang chờ xác nhận</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 2}} <td>Đang giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 3}} <td>Đã giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 4}} <td>Đã huỷ</td> {{/when}}
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        
                                    </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab_container_box" id="tab3" data-tab-content>
                                <div class="table_bill_container">
                                    <div style="overflow:auto;  height:500px;">
                                    <table>
                                        <thead>
                                            <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày mua</th>
                                            <th>Sản phẩm</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {{#each allTraveling}}
                                            <tr data-billid='{{maso}}'>
                                                <td>{{maso}}</td>
                                                <td>{{ngaymua}}</td>
                                                <td>{{sanpham}}</td>
                                                <td>{{tonggiatien}}</td>
                                                {{#when tinhtrangdon 'eq' 1}} <td>Đang chờ xác nhận</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 2}} <td>Đang giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 3}} <td>Đã giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 4}} <td>Đã huỷ</td> {{/when}}
                                            </tr>
                                            {{/each}}
                                        </tbody>

                            
                                    </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab_container_box" id="tab4" data-tab-content>
                                <div class="table_bill_container">
                                    <div style="overflow:auto;  height:500px;">
                                    <table>
                                        <thead>
                                            <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày mua</th>
                                            <th>Sản phẩm</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {{#each allTraveled}}
                                            <tr data-billid='{{maso}}'>
                                                <td>{{maso}}</td>
                                                <td>{{ngaymua}}</td>
                                                <td>{{sanpham}}</td>
                                                <td>{{tonggiatien}}</td>
                                                {{#when tinhtrangdon 'eq' 1}} <td>Đang chờ xác nhận</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 2}} <td>Đang giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 3}} <td>Đã giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 4}} <td>Đã huỷ</td> {{/when}}
                                            </tr>
                                            {{/each}}
                                        </tbody>

                                        
                                    </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab_container_box" id="tab5" data-tab-content>
                                <div class="table_bill_container">
                                    <div style="overflow:auto;  height:500px;">
                                    <table>
                                        <thead>
                                            <tr id="header">
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày mua</th>
                                            <th>Sản phẩm</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {{#each allCanceled}}
                                            <tr data-billid='{{maso}}'>
                                                <td>{{maso}}</td>
                                                <td>{{ngaymua}}</td>
                                                <td>{{sanpham}}</td>
                                                <td>{{tonggiatien}}</td>
                                                {{#when tinhtrangdon 'eq' 1}} <td>Đang chờ xác nhận</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 2}} <td>Đang giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 3}} <td>Đã giao</td> {{/when}}
                                                {{#when tinhtrangdon 'eq' 4}} <td>Đã huỷ</td> {{/when}}
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>

    </div>
</body>
<!--====== Javascripts & Jquery ======-->
<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script>
    $(document).on('click', function (e) {
        if ($(e.target).closest('.combo_box_select').not(this).length) {
            $('.drop-down-cbx').removeClass("disable");
            $('.drop-down-cbx').toggleClass("show");
            $('.drop-menu-down').toggleClass("rotate");
        } else {
            $('.drop-down-cbx').removeClass("show");
            $('.drop-down-cbx').toggleClass("disable");
        }
    });
    $('.first-item').click(function () {
        $('.selected').text("Toàn thời gian");
        $('.drop-menu-down').toggleClass("rotate");
    });
    $('.second-item').click(function () {
        $('.selected').text("30 ngày qua");
        $('.drop-menu-down').toggleClass("rotate");
    });
    $('.third-item').click(function () {
        $('.selected').text("7 ngày qua");
        $('.drop-menu-down').toggleClass("rotate");
    });
    $('.four-item').click(function () {
        $('.selected').text("Hôm nay");
        $('.drop-menu-down').toggleClass("rotate");
    });
    $('.item-select-cbx').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });
</script>
<script>
    const tabs = document.querySelectorAll('[data-tab-target]');
    const tabContents = document.querySelectorAll('[data-tab-content]');

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const tabsList = document.querySelectorAll('[data-tab-target]');
            tabsList.forEach(tabMember => {
                tabMember.classList.remove('active_tab_title');
            });

            const target = document.querySelector(tab.dataset.tabTarget)
            tabContents.forEach(tabContent => {
                tabContent.classList.remove('active_tab');
            });

            target.classList.add('active_tab');
            tab.classList.add('active_tab_title');
        })
    }

    )
</script>
<script>
    $('td').click(function(event) {
        let billId = ($(event.target).closest('tr').data('billid'));
        window.location.href = `/users/bill-detail/${billId}`;
    })
</script>
<script src="/resources/js/filterTable.js"></script>