<link rel="stylesheet" href="/resources/css/profile.css">
<link rel="stylesheet" href="/resources/css/shop_bill.css">
<body>
    <div class="page_wrapper">
        <div class="title_container">
            <h2 class="title">Trang cá nhân</h2>
        </div>
        <section class="body_container">
            <div class="tabs_container">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <ul>
                            <li><a class="li_tab" href="/users/profile">Cập nhật thông
                                    tin cá nhân</a></li>
                            <li><a class="li_tab" href="/users/shopping-cart" style="color: #f51167 !important">Giỏ hàng</a></li>
                            <li><a class="li_tab" href="/users/orders">Lịch sử đơn hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_container">
                <div class="update_profile_title">
                    <h4>Chi tiết thanh toán</h4>
                </div>
                <div class="container_bill">
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="link_path">
                <a class="root_link" style="text-decoration: none; cursor: pointer; color: #f51167" href="/users/orders">Giỏ hàng</a>
                >
                <span class="root_link" style="font-weight: 500;">Chi tiết thanh toán</span>
            </div>

            <div class="customer-information">
                1. Thông tin khách hàng
            </div>

            {{#with user}}
            <div class="input_detail_ct">
                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Tên khách hàng
                    </div>
                    <input type="text" placeholder="{{hoten}}" style="width: 70%;" class="input_detail" readonly="readonly">
                </div>

                <div class="container_combo_box">
                    <div class="title_combobox">
                        Email
                    </div>
                    <input type="text" placeholder="{{email}}" class="input_detail" readonly="readonly">
                </div>
            </div>

            <div class="input_detail_ct">
                <div class="container_combo_box" style="margin-left: 20px;">
                    <div class="title_combobox">
                        Số điện thoại
                    </div>
                    <input type="number" id="sdt_input" value="{{sdt}}" style="width: 70%;">
                </div>

                <div class="container_combo_box">
                    <div class="title_combobox">
                        Địa chỉ nhận hàng
                    </div>
                    <input type="text" id="address_input" value="{{diachi}}" style="width: 100%;">
                </div>
            </div>

            {{!-- <div class="input_detail_ct">
                <select class="form-control" name="province" id="province" onchange="changeFunc();">
                    <option value="" selected>------</option>
                </select>
                <select class="form-control" name="district" id="district" onchange="changeFuncDistrict();">
                    <option value="" selected>------</option>
                </select>
                <select class="form-control" name="ward" id="ward" aria-placeholder="Quan huyen">
                    <option value="" selected>------</option>
                </select>
            </div> --}}

            {{/with}}
        </div>
    </div>

    <div class="container_bill">
        <div class="container_bill_items" style="padding-bottom: 10px;">
            <div class="customer-information">
                2. Thông tin đơn hàng
            </div>

            <div class="cart-table-warp" style="margin-bottom: 10px;">
				<table>
					<thead>
						<tr>
							<th class="product-th" style="text-align: center;">Sản phẩm</th>
							<th class="quy-th" style="text-align: center;">Số lượng</th>
							<th class="size-th" style="text-align: center;">Cửa hàng</th>
							<th class="total-th" style="text-align: center;">Giá</th>
						</tr>
					</thead>
					<tbody>
                        {{#each products}}
						<tr>
							<td class="product-col" style="display: flex; justify-content:flex-start; align-items:center">
								<img src="{{hinhanh}}" alt="hinh-anh" style="width: 78px; object-fit:cover; margin-right:20px;">
								<div class="pc-title">
								    <h5>{{tensanpham}}</h4>
									<p>{{dongia}} đ</p>
								</div>
							</td>
							<td class="quy-col">
								<p style="text-align: center;">{{soluong}}</p>
							</td>
							<td class="size-col" style="text-align: center;"><p>{{cuahang}}</p></td>
							<td class="total-col" style="text-align: center;"><p>{{gia}} đ</p></td>
						</tr>
                        {{/each}}
					</tbody>
				</table>
            </div>
            <div class="total_all_price">
                <div class="ctn_total_price">
                    <div class="text-total">
                        Tổng cộng:
                    </div>
                    <div class="total-price-num">
                        {{cart.tonggiatien}} đ
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-update-detail">
        <div class="ctn_update_cbx clickable-row">
            <div class="btn_back_input" onclick='javascript: window.location.href="/users/shopping-cart"'>
                <i class="fas fa-backward" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Quay lại</span>
             </div>
        </div>

        <div class="ctn_update_cbx">
            <div class="btn_update_input clickable-row">
                <i class="fas fa-shopping-cart" style="margin-top: 5px; margin-left:5px"></i><span style="margin-left: 10px;">Thanh toán</span>
                <form class="pay_form" action="/users/pay-cart" method="post" hidden>
                    <input type="hidden" name="cartId" value="{{cart.maso}}">
                    <input type="hidden" id="address_post" name="address" value="">
                    <input type="hidden" id="sdt_post" name="sdt" value="">
                </form>
            </div>
        </div>
    </div>
            </div>
    </div>
    </section>

    </div>
    <script src="/resources/js/jquery-3.2.1.min.js"></script>
    <script src="/resources/js/cart.js"></script>

</body>
<!--====== Javascripts & Jquery ======-->

