<style>
.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 500px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
</style>
<link rel="stylesheet" href="/resources/css/profile.css">
<body>
	<div class="page_wrapper">
		<div class="title_container">
			<h2 class="title">Trang cá nhân</h2>
		</div>
		<section class="body_container">
			<div class="tabs_container">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<ul>
							<li><a class="li_tab" href="/users/profile" style="color: #f51167 !important">Cập nhật thông
									tin cá nhân</a></li>
							<li><a class="li_tab" href="/users/shopping-cart">Giỏ hàng</a></li>
							<li><a class="li_tab" href="/users/orders">Lịch sử đơn hàng</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content_container">
				<div class="update_profile_title">
					<h4>Cập nhật thông tin cá nhân</h4>
				</div>
				<div class="update_profile_container">
					<div class="container overflow-hidden">
						<div class="row gy-5">
							<div class="col-3">
								<div class="form-floating mb-3" style="margin-top: 15px">
									<div class="avatar_holder">
										<div class="avatar_image" id="avatar-parent">
											<img src="{{user.avatar}}" alt="avatar" id="avatar-circle">
										</div>
										<div class="avatar_change_holder">
											<img src="/resources/img/icons/camera.png" alt="change-icon">
										</div>
									</div>
								</div>
							</div>
							<div class="col-5">
								<form id="input_changed_submitting" action="/users/change-profile" method="post">
									<div class="form-floating mb-3">
										<input type="email" class="form-control form-control-input" id="emailInput"
											value="{{user.email}}" placeholder="{{user.email}}" name="email" readonly>
										<label for="emailInput">Địa chỉ email</label>
									</div>
									<div class="form-floating mb-3">
										<input type="text" class="form-control form-control-input" id="nameInput"
											value="{{user.hoten}}" placeholder="{{user.hoten}}" name="hoten">
										<label for="nameInput">Họ tên</label>
									</div>
									<div class="form-floating mb-3">
										<input type="number" class="form-control form-control-input" id="phoneInput"
											value="{{user.sdt}}" placeholder="{{user.sdt}}" name="sdt" maxlength="11"
											minlength="10">
										<label for="phoneInput">Số điện thoại</label>
									</div>
								</form>
								<div class="mb-3 save_btn_group">
									<!-- Button trigger modal -->
									<button type="button" class="btn change_password_btn" data-bs-toggle="modal"
										data-bs-target="#changePasswordModal">
										Thay đổi mật khẩu
									</button>

									<button type="button" class="btn save_change_btn">
										Lưu
									</button>

									<!-- Modal -->
									<div class="modal fade" id="changePasswordModal" tabindex="-1"
										aria-labelledby="changePasswordModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="changePasswordModalLabel">Thay đổi mật
														khẩu</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form id="password_changed_submitting"
														action="/users/change-password" method="post">
														<div class="form-floating mb-3">
															<input type="password"
																class="form-control form-control-input-password"
																id="currentPassword" placeholder="123"
																name="current_password">
															<label for="currentPassword">Mật khẩu hiện tại</label>
														</div>
														<div class="form-floating mb-3">
															<input type="password"
																class="form-control form-control-input-password"
																id="newPassword" placeholder="123" name="new_password">
															<label for="newPassword">Mật khẩu mới</label>
														</div>
														<div class="form-floating mb-3">
															<input type="password"
																class="form-control form-control-input-password"
																id="newPasswordConfirmed" placeholder="123"
																name="confirm_password">
															<label for="newPasswordConfirmed">Nhập lại mật khẩu</label>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary close_modal_btn"
														data-bs-dismiss="modal">Đóng</button>
													<button type="button"
														class="btn change_password_btn change_password_confirm">Thay
														đổi</button>
												</div>
											</div>
										</div>
									</div>
									<!-- Modal -->
									<div class="modal fade" id="changeAvatarModal" tabindex="-1"
										aria-labelledby="changeAvatarModal" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="changeAvatarModal">Thay đổi ảnh đại diện
													</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													{{!-- <form class="form form-vertical" action="/users/avatar-upload"
														method="post" enctype="multipart/form-data">
														<div class="kv-avatar">
															<div class="file-loading">
																<input id="avatar" name="avatar" type="file" required>
															</div>
														</div>
														<div class="kv-avatar-hint">
															<small>Select file < 1500 KB</small>
														</div>
													</form> --}}
													<div class="kv-avatar">
														{{!-- <div class="file-loading">
															<input id="avatar" name="avatar" type="file" required>
														</div> --}}
														<div class="file-loading">
															<input id="input-image-3" name="avatar" type="file" accept="image/*">
														</div>
													</div>
													<div class="kv-avatar-hint">
														<small>Select file < 1500 KB</small>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary close_modal_btn"
														data-bs-dismiss="modal" id="dismiss-avatar">Đóng</button>
													<button type="button"
														class="btn change_password_btn" id="confirm-avatar">Thay
														đổi</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>
<!--====== Javascripts & Jquery ======-->
<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script src="/resources/js/profile.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all"	rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/piexif.min.js"	type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script>
<script>
	$("#input-image-3").fileinput({
		uploadUrl: "/users/upload-avatar",
		autoReplace: true,
		resizePreference: 'height',
        showPreview: true,
		maxTotalFileCount: 1,
		maxFileCount: 1,
		showClose: false,
		showUpload: false,
		theme: 'fas',
        resizeImage: true,
		validateInitialCount: true,
		dropZoneTitle: 'Nhấp và nhả hình ảnh vào đây',
		allowedFileExtensions: ["jpg", "png", "gif", "webp"],
	}).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
		
		$('.image-auth').attr("src",data.response.link+"?"+new Date().getTime());
		$('#avatar-circle').attr("src",data.response.link+"?"+new Date().getTime());
    })

	$('#confirm-avatar').on('click',function(e){
		$('.fileinput-upload-button').get(0).click();
		displaySuccessNotification();
		$("#changeAvatarModal").modal("toggle");
	})

	$('#dismiss-avatar').on('click',function(e){
		$('.fileinput-remove').click();
	})

	$(".avatar_holder").click(function () {
		$('.fileinput-remove').click();
		$("#changeAvatarModal").modal("toggle");
	});
</script>
{{!-- Notification xinh dep --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
